.footer{
	background-image: url('../img/bg2.webp');
	.footer-logo{
		width: 400px;
		height: 80px;
		img{
			width: 100%;
			height: 100%;
			object-fit: contain;
			
		}
	}
	&-row{justify-content: space-between;}
	&-top{
		padding: 70px;
	}
	&-bottom{
		background-color: #a84300;
		padding-inline:10px;
	}
	.footer-contacts.flex-row{column-gap: 48px; align-items: stretch;}
	.contacts-group{
		justify-content: space-between;
	}
}