.float-right-img{
	img{float:right; margin-left: 15px;}
	@media (max-width: 1199px) {
	img {width: 30%;}
	}
	@media (max-width: 767px) {
	  img{
		float: unset;
		display: block;
		margin-inline: auto;
		width: 100%;
		max-width: 350px;
		margin-bottom: 20px;
	  }
	}
}
.product-variants{
	img{margin: 0;}
	p{
		margin-block: 10px 30px;
	}
	@media (max-width: 767px) {
	    max-width: 400px;
		margin-inline: auto;
		img{
			display: block;
			margin-inline: auto;
		}
	}
}
.filter-container .noUi-pips.noUi-pips-horizontal .noUi-value:last-child{
	@media (max-width: 1023px) {
		transform: translate(-90%, 50%);
	}
	
}
.scheme-item{
	a{display: block;}
	img{
		display: block;
		width: 100%;
		aspect-ratio: 5/3;
		
	}
}
a:has(img){display: block;}
.product-gallery{
	a{width: 100%;
		aspect-ratio:1;
	}
	img{
		width: 100%;
		height: 100%;
		
	}
}
.benefits-item{
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 30px;
	.title-29{margin-bottom: 0;}
	.icon-wrapper{
		margin-bottom: 10px;
		display: flex;
		justify-content: center;
	}
	svg{
		width: 50px;
		height: 50px;
	}
}
.benefits-grid{
	row-gap:70px;
}
/***************/
.faq-entity {
	padding-bottom: 10px;
	padding-left: 15px;
}

.faq-question {
	cursor: pointer;
	text-decoration: underline;
	font-family: $fs;
	
	color: #000 !important;
	font-size: 24px;
	font-weight: 300;
	line-height: 30px;

}

.faq-question:hover {
	cursor: pointer;
	text-decoration: none;
}

.faq-response {
	display: none;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 10px;
}

.faq-click-question {
	cursor: pointer;
	text-decoration: underline;
	
}

.faq-click-question:hover {
	cursor: pointer;
	text-decoration: none;
}
.contacts-card{
   padding: 15px;
   color: #858585;
   border:1px solid #d2d2d2;
  background-color: #ebebeb;
  &__title{
	font-family: $fs;
	text-transform: uppercase;
	color: #ff6d00 !important;
	font-size: 26px;
	font-weight: bold;
	line-height: 28px;
	margin-bottom: 15px !important;
  }
  li +li{margin-top: 10px;}
  .contacts-specialist__name{
	span{display: block;}
  }
}
.contacts-card.contacts-specialist{
	padding-left: 60px;
	color: black;
	position: relative;
	.contacts-specialist__icon{
		position: absolute;
		left: 15px;
		top: 50%;
		transform: translateY(-50%);
		svg{
		width: 26px;
		height: 26px;
		fill: #858585;	
		}
	}
	&>*+*{margin-top: 10px;}
	ul + *{margin-top: 0;}
	@media (max-width: 767px) {
	padding-left: 15px;
	.contacts-specialist__icon{display: none;}
	}
}
.inner-contacts{
	padding-top: 40px;
	padding-bottom: 40px;
}