.float-right-img{
	img{float:right; margin-left: 15px;}
	@media (max-width: 1199px) {
	img {width: 30%;}
	}
	@media (max-width: 767px) {
	  img{
		float: unset;
		display: block;
		margin-inline: auto;
		width: 100%;
		margin-bottom: 20px;
	  }
	}
}
.product-variants{
	img{margin: 0;}
	p{
		margin-block: 10px 30px;
	}
}
.filter-container .noUi-pips.noUi-pips-horizontal .noUi-value:last-child{
	@media (max-width: 1023px) {
		transform: translate(-90%, 50%);
	}
	
}