.promo{
	background: $accent url(../img/bg2.webp);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding-block: 50px;
	@media (max-width: 767px) {
	  padding-block: 25px;
	}
	.h1{
		span{
			display: block;
			text-transform: uppercase;
		}
		span +span{text-transform: uppercase;}
	}
	&-img{
		display: flex;
		align-items: center;
		justify-content: center;
		img{
			width: 100%;
			aspect-ratio:29 / 21;
			object-fit: contain;
		}
	}
	&-subtitle{
		font-size: 15px;
		color: white;
		margin-top: 12px;
		@media (max-width: 767px) {
		   margin-top: 8px;
		}
	}
}
.promo-content.grid-row{
	@media (max-width: 767px) {
		row-gap:20px;

	  .grid-col-4, .grid-col-8{
		grid-column: span 12;
	  }
	}
}