section.about-page.has-overlay
	.container
		.overlay
		.main-products
			h2 Основная продукция предприятия:
			h3 воздухонагреватели рекуперативные и смесительные, мощностью от 45 до 2000 кВт,
			p.txt-24 предназначенные для использования в системах воздушного отопления и вентиляции, а также в технологических процессах (прогрев, сушка, пропарка и т. д.).
			//==== .p-40 дает внутренние отступы по вертикали по 40 пикселей
			.grid-aside-7-5.about-page__assort.p-block-40
				.about-page__assort__text
					h3.h3 Ассортиментная линейка компании<br>постоянно расширяется и на сегодня насчитывает
					p.txt-accent #[strong 250 +] #[span моделей]

				
				img(src="./img/about-img1.webp", width="426" height="222" alt="img")
			
			.about-page-gallery.flex-row.p-block-40
				.gallery-item
					img(src="./img/prod19.webp", width="390" height="290"  alt="img")
				.gallery-item
					img(src="./img/prod18.webp", width="290" height="290"  alt="img")
				.gallery-item
					img(src="./img/prod17.webp", width="390" height="290"  alt="img")
			
			h3 Основные преимущества сотрудничества с нашей компанией:
			
			ul.simple-list
				li гибкость в работе
				li возможность изготовления не серийного оборудования для наиболее полного удовлетворения Ваших запросов
				li короткие сроки разработки и производства изделий. 
			h3 Для автоматизации процесса теплоснабжения и снижения потребления энергоресурсов
			
			ul.simple-list
				li компания выпускает серийные устройства автоматики, собирает изделия по индивидуальным заказам:
				li системы диспетчеризации
				li автоматизированные системы управления различными технологическими процессами.
			.gallery-grid.mt-40
				.gallery-grid__item
					img(src="./img/main-product1.webp", width="600" height="400" alt="img")
				.gallery-grid__item
					img(src="./img/main-product2.webp", width="280" height="180" alt="img")
				.gallery-grid__item
					img(src="./img/main-product3.webp", width="280" height="180" alt="img")
				.gallery-grid__item
					img(src="./img/main-product4.webp", width="280" height="180" alt="img")
				.gallery-grid__item
					img(src="./img/main-product5.webp", width="280" height="180" alt="img")


