section.about-page.has-overlay
	.container
		.overlay
		h2 Основная продукция предприятия:
		
		.about-page-content.custom-text
			h3.h3  воздухонагреватели рекуперативные и смесительные, мощностью от 45 до 2000 кВт,
			p.txt-24 предназначенные для использования в системах воздушного отопления и вентиляции, а также в технологических процессах (прогрев, сушка, пропарка и т. д.).
			//==== .p-40 дает внутренние отступы по вертикали по 40 пикселей
			.grid-aside-7-5.about-page__assort
				.about-page__assort__text
					h3.h3 Ассортиментная линейка компании<br>постоянно расширяется и на сегодня насчитывает
					p.txt-accent #[strong 250 +] #[span моделей]

				
				img(src="./img/about-img1.webp", width="426" height="222" alt="img")
			
			.about-page-gallery.flex-row.p-40
				.gallery-item
					img(src="./img/prod19.webp", width="390" height="290"  alt="img")
				.gallery-item
					img(src="./img/prod18.webp", width="290" height="290"  alt="img")
				.gallery-item
					img(src="./img/prod17.webp", width="390" height="290"  alt="img")


