section.about-page.has-overlay
	.container
		.overlay
		.main-products
			h2 Основная продукция предприятия:
			h3 воздухонагреватели рекуперативные и смесительные, мощностью от 45 до 2000 кВт,
			p.txt-24 предназначенные для использования в системах воздушного отопления и вентиляции, а также в технологических процессах (прогрев, сушка, пропарка и т. д.).
			//==== .p-40 дает внутренние отступы по вертикали по 40 пикселей
			.grid-aside-7-5.about-page__assort.p-block-40
				.about-page__assort__text
					h3.h3 Ассортиментная линейка компании<br>постоянно расширяется и на сегодня насчитывает
					p.txt-accent #[strong 250 +] #[span моделей]

				
				img(src="./img/about-img1.webp", width="426" height="222" alt="img")
			
			.about-page-gallery.flex-row.p-block-40
				.gallery-item
					img(src="./img/prod19.webp", width="390" height="290"  alt="img")
				.gallery-item
					img(src="./img/prod18.webp", width="290" height="290"  alt="img")
				.gallery-item
					img(src="./img/prod17.webp", width="390" height="290"  alt="img")
			
		//======преимущества сотрудничества ======
		h3 Основные преимущества сотрудничества с нашей компанией:
		
		ul.simple-list
			li гибкость в работе
			li возможность изготовления не серийного оборудования для наиболее полного удовлетворения Ваших запросов
			li короткие сроки разработки и производства изделий. 
		h3 Для автоматизации процесса теплоснабжения и снижения потребления энергоресурсов
		
		ul.simple-list
			li компания выпускает серийные устройства автоматики, собирает изделия по индивидуальным заказам:
			li системы диспетчеризации
			li автоматизированные системы управления различными технологическими процессами.
		//===== mt-40 дает отступ вверх снаружи блока===
		.gallery-grid.mt-40
			.gallery-grid__item
				img(src="./img/main-product1.webp", width="600" height="400" alt="img")
			.gallery-grid__item
				img(src="./img/main-product2.webp", width="280" height="180" alt="img")
			.gallery-grid__item
				img(src="./img/main-product3.webp", width="280" height="180" alt="img")
			.gallery-grid__item
				img(src="./img/main-product4.webp", width="280" height="180" alt="img")
			.gallery-grid__item
				img(src="./img/main-product5.webp", width="280" height="180" alt="img")
		
		//======сертификаты ===
		.our-sertificate.d-grid-2.mt-40
			.our-sertificate__text.custom-text
				.logo-title
					img(src="./img/logo.webp", width="430" height="85" alt="logo")
				p «Тепловей» является официально зарегистрированной торговой маркой.
				p Вся производимая на предприятии продукция проходит обязательную сертификацию.
				p В 2010 году получен сертификат соответствия системы менеджмента качества МС ISO 9001:2008, а также сертификат добровольной сертификации качества услуг и оборудования.
				p Наше предприятие гарантирует всем своим партнерам и потребителям полную гарантийную и сервисную поддержку.

			.our-sertificate__image
				img(src="./img/sertificates.webp", width="472" height="275" alt="")
		//======краткий экскурс ===
		mixin timeline-item(srcSvg, svgCl, year)
			//==== single item ====
			.timeline-item
				.timeline-icon
					svg(class="svg-"+ svgCl)
						use(href='./img/sprites/'+ srcSvg)
				.timeline-block
					.timeline-title !{year}
					.timeline-content
						block
						
						
		.our-history.mt-40
			h1 Краткий экскурс в историю нашего предприятия
			.timeline.d-grid-2
				.timeline-list
					+timeline-item('solid.svg#star', 'star', 1995)
						p организовано ООО «Тепловые системы». Предприятие по проектированию, поставке, монтажу, пусконаладке, сервисному обслуживанию и ремонту теплоэнергетического оборудования.
					+timeline-item('solid.svg#gear', 'gear', 1998)
						p начато производство воздухонагревателей «Тепловей».
					
					+timeline-item('solid.svg#star', 'star', 2001)
						p производственное направление выделено в самостоятельную компанию «Челябинское предприятие теплогенерирующих установок».
					+timeline-item('solid.svg#star', 'star', 2004)
						p для оптимальной работы с заказчиками по поставке и сервисному обслуживанию генераторов теплого воздуха «Тепловей», создана компания с одноименным названием — ООО Торгово-промышленная компания «Тепловей». Освоен выпуск воздухонагревателей мощностью до 1 мВт.
					+timeline-item('solid.svg#star', 'star', 2007)
						p год создания ООО Научно-производственное объединение «Тепловей», объединившего производственное и коммерческое направления. Ряд крупных поставок на известнейшие российские предприятия металлургии и машиностроения.
					+timeline-item('solid.svg#star', 'star', 2009)
						p закончена разработка и начато серийное производство моделей оборудования по целому ряду новых направлений (смесительные подвесные воздухонагреватели для объектов сельского хозяйства, смесительные воздухонагреватели большой мощности для использования на открытых площадках, рекуперативные воздухонагреватели для использования в процессах пропарки и сушки инертных материалов и т. д.)
					+timeline-item('solid.svg#briefcase', 'briefcase', 2010)
						p получен сертификат соответствия системы менеджмента качества МС ISO 9001:2008, что явилось подтверждением высокого технологического и организационного уровня компании.
						p Портфель заказов компании превысил докризисные показатели.
						p Начато расширение производственных мощностей.
					+timeline-item('solid.svg#square-check', 'square-check', 2010)
						p проведена обязательная сертификация воздухонагревателей большой мощности (до 2 мВт).
					+timeline-item('solid.svg#reply-all', 'reply-all', 2011)
						p в партнерстве с компанией «Хартманн» (Германия) сдана в эксплуатацию система поддержания микроклимата на крупном уральском птицеводческом комплексе.
						p Полученные в процессе внедрения технические решения в настоящее время используются уже на нескольких площадках.
					+timeline-item('solid.svg#gears', 'gears', 2012)
						p спроектирована и реализована система диспетчеризации для дистанционного мониторинга и управления работой 35 воздухонагревателей различных моделей.

					+timeline-item('solid.svg#gear', 'gear', 2013)
						p cоздание инжиниринговой службы, вступление в СРО

					+timeline-item('solid.svg#gears', 'gears', 2013)
						p разработана и введена в эксплуатацию система приточно-вытяжной вентиляции для окрасочно-сушильных камер

					+timeline-item('solid.svg#square-check', 'square-check', 2013)
						p разработаны и внедрены блоки вентиляторов со свободным колесом и электродвигателем, вынесенным из потока воздуха

					+timeline-item('solid.svg#bars-progress', 'bars-progress', 2014)
						p внедрение автоматики управления воздухонагревателем на базе ПЛК (программируемых логических контроллеров), с сенсорной панелью оператора

					+timeline-item('solid.svg#square-check', 'square-check', 2014)
						p завершено создание серийной линейки воздухонагревателей с высокой степенью нагрева и высоким напором для технологических процессов (сушка инертных материалов, прогрев литейных форм и т.п.)
				
				//====Второй список ===
				.timeline-list
					+timeline-item('solid.svg#square-check', 'square-check', 2014)
						p разработка и ввод в эксплуатацию ряда проектов по отоплению и вентиляции и различным технологическим процессам “под ключ”

					+timeline-item('solid.svg#square-check', 'square-check', 2014)
						p организовано производство блоков фильтров (теплоизолированных и не теплоизолированных) собственной разработки, на всю линейку воздухонагревателей

					+timeline-item('solid.svg#square-check', 'square-check', 2014)
						p для обеспечения собственных проектов приобретено соответствующее оборудование и организовано производство воздуховодов и фасонных изделий к ним

					+timeline-item('solid.svg#gears', 'gears', 2015)
						p Инжиниринговое направление компании завершило монтаж и пуско-наладку системы приточной вентиляции на базе воздухонагревателей "Тепловей" суммарной тепловой мощностью более 15 МВт на крупном литейном производстве

					+timeline-item('solid.svg#gears', 'gears', 2016)
						p Отгружены воздухонагреватели в контейнерном "северном" исполнении для эксплуатации на полярных месторождениях. Воздухонагреватели выполнены в соответствии со стандартами АО ГАЗПРОМ с проведением инспекционного контроля производства

					+timeline-item('solid.svg#gears', 'gears', 2017)
						p Запущен в работу новый комплекс лазерной резки металла

					+timeline-item('solid.svg#gears', 'gears', 2017)
						p Произведена поставка воздухонагревателей в "горном исполнении" для калориферной шахтного ствола (Белгородская область)

					+timeline-item('solid.svg#gears', 'gears', 2018)
						p Начали собственное изготовление промышленных рекуператоров и приточно-вытяжных вентиляционных установок с рекуператором

					+timeline-item('solid.svg#gears', 'gears', 2018)
						p Разработаны и отгружены потребителю приточно-вытяжные установки на базе воздухонагревателей "Тепловей" с функцией поддержания заданной температуры и влажности (системы микроклимата)

					+timeline-item('solid.svg#gears', 'gears', 2019)
						p Отгружена партия воздухонагревателей в "горном исполнении" для калориферной шахтного ствола для одного из крупнейших ГОК Республики Казахстан, реализован принцип каскадного управления сетью воздухонагревателей с автоматическим перераспределением нагрузок (на базе системы управления верхнего уровня)

					+timeline-item('solid.svg#gears', 'gears', 2020)
						p Создано совместное предприятие ТОО Тепловей в Республике Казахстан. Планируется сертификация производства воздухонагревателей торговой марки "Тепловей" на территории Республики Казахстан.

					+timeline-item('solid.svg#gears', 'gears', 2021)
						p Отгружены заказчику смесительные воздухонагреватели увеличенной тепловой мощности (21,5 МВт), предназначенные для нагрева воздуха в технологическом процессе до +680 градусов Цельсия

					+timeline-item('solid.svg#gears', 'gears', 2022)
						p Отгружены смесительные воздухонагреватели "Тепловей" суммарной тепловой мощностью более 70 МВт для прогрева ж/д транспорта в тепляках

					+timeline-item('solid.svg#gears', 'gears', 2023)
						p Разработаны и отгружены заказчику системы микроклимата на базе воздухонагревателей "Тепловей" с функциями постадийного нагрева (2-3 ступени нагрева последовательно), охлаждения (осушения) или увлажнения воздуха.

					+timeline-item('solid.svg#briefcase', 'briefcase', 2024)
						p В сотрудничестве с Региональным Центром Компетенций с декабря 2023 года внедряются методы бережливого производства. Создана рабочая группа и информационный центр, определен эталонный участок, функционирует система работы с предложениями по улучшениям.
						a(href="./img/hist-img1.webp" data-fancybox="history-photo").history-fancy
							img(src="./img/hist-img1.webp",width="100" height="75" alt="img")
						a(href="./img/hist-img2.webp" data-fancybox="history-photo").history-fancy
							img(src="./img/hist-img2.webp",width="100" height="75" alt="img")

		//======дилерская сеть ======
		.our-dealers.flex-row.p-block-40
			.our-dealers__img
				img(src="./img/map-img.webp", width="694" height="448" alt="img")
			.our-dealers__txt
				p.title.no-upper Компания работает на рынке России и стран СНГ более 25 лет.
				p За это время мы осуществляли поставки практически во все регионы России.
				p Собственная дилерская сеть компании позволит вам приобрести оборудование в вашем регионе, иметь грамотную информационную и техническую поддержку на местах.
//======CLIENTS=====
section.our-clients.has-overlay.pb-40
	.section-title
		h2.title Наши клиенты
	.container
		.overlay
		.our-clients__txt.p-block-40.custom-text
			p.txt-24 За годы работы нашими клиентами стало #[span.title.no-upper более 1000 российских предприятий] самых разных сфер деятельности:
			p нефтегазового комплекса, авиа и судостроения, машиностроения, металлургии, строительной индустрии, легкой промышленности, объектов спортивного комплекса, сферы услуг, социально-культурной направленности, легкой промышленности, сельского хозяйства в городах России и ближнего зарубежья.
			p #[strong Среди наших клиентов:]
			p МЕЧЕЛ, ЕВРАЗ, УГМК, Северсталь, Станкомаш, БВК, ГК Конар, Международный аэропорт Владивосток, ВСМПО-Ависма (УралБоинг), Казхром (р. Казахстан), Группа компаний «Северсталь-Метиз», ОАО НТМК, ГК «Белоруснефть» (республика Беларусь), Равис Птицефабрика Сосновская, Искра-Турбогаз, Сургутнефтегаз, Группа СУАЛ, ЧЭМК, Комбинат «Магнезит», Промприбор, корпорация УГМК.
	.our-clients-swiper.swiper
		.swiper-wrapper
			+client-slider(13)