section.contacts-page.has-overlay.custom-text
	.container
		.overlay
		.contacts-page__content.d-grid-2
			//==LEFT COLUMN ====
			.contacts-column
				.contacts-page__block.flex-column
					a(href="tel:+73512200530").accent-link.title +7 (351) 220-05-30
					a(href="mailto:teplo@teplovey.ru").accent-link.title teplo@teplovey.ru
					a.accent-btn(href="mailto:+73512200530" )
						svg.svg-check
							use(href='./img/sprite.svg#svg-check')
						span Отправить сообщение
				
				.contacts-page__block.flex-column
					h2 Каналы и соцсети
					a(href="#!").accent-link Канал на Rutube
					a(href="#!").accent-link Канал на Youtube
				
				.contacts-page__block
					h2 Офис продаж и инжиниринг
					ul.flex-list
						li
							address 454091, Челябинск, пр-т Ленина, 21-в (Бизнес-дом «Спиридонов»)
						li #[strong Тел.:] #[a(href="tel:+73512200530").accent-link +7 (351) 220-05-30], #[a(href="tel:+73512200531").accent-link 220-05-31], #[a(href="tel:+73512200532").accent-link 220-05-32], #[a(href="tel:+73512200533").accent-link220-05-33]
						li #[strong Моб.:] #[a(href="tel:+79026136254").accent-link +7 (902) 613-62-54], #[a(href="tel:+79028600186").accent-link +7 (902) 860-01-86]
						li #[strong E-mail:]
							a(href="mailto:teplo@teplovey.ru").accent-link teplo@teplovey.ru
				.contacts-page__block
					h2 Основная производственная площадка
					ul.flex-list
						li
							address 456660, Челябинская область, Красноармейский район, с. Миасское, ул. 10 Пятилетки, 12-г
						li  #[strong Тел.:] #[a(href="tel:+73515021117").accent-link +7 (351-50) 2-11-17], #[a(href="tel+73515021474").accent-link 2-14-74]
				
				.contacts-page__block
					h2 Площадка опытного производства
					ul.flex-list
						li
							address 454000, г. Челябинск, ул. Матросова, 1
						li  #[strong Тел.:] #[a(href="tel: +73517256830").accent-link +7 (351) 725-68-30]
						li #[strong E-mail:]
							a(href="mailto:teplo@teplovey.ru").accent-link teplo@teplovey.ru
			//===RIGHT COLUMN====
			.contacts-column
				.contacts-page
				.contacts-page__block
					h2 Банковские реквизиты
					p #[strong ООО Научно-производственное объединение «Тепловей»]
					ul
						li ИНН 7451240512, КПП 743001001
						li Наименование банка: Филиал «Центральный» Банка ВТБ (ПАО) г. Москва
						li Адрес банка 107031, г. Москва, ул. Рождественка, д. 10/2, стр. 1
						li БИК банка 044525411
						li К/счет 30101810145250000411
						li Р/счет № 407 028 100 000 200 18 641
						li ОКПО 94823723
						li ОГРН 1067451084524

					h3 Генеральный директор
					p #[strong Минчев Владимир Михайлович]
					a(href="mailto:minchev@teplovey.ru").accent-link minchev@teplovey.ru
					p Тел.:
						a(href="tel:+79028673346").accent-link +7 (902) 867-33-46

					h3 Начальник отдела продаж
					p #[strong Мальцева Эльвира Ильгизовна]
					p Тел.:
						a(href="tel:+79028600186").accent-link +7 (902) 86-00-186, 
						| e-mail:
						a(href="email:mei@teplovey.ru").accent-link  mei@teplovey.ru

					h3 Руководитель отдела (продаж) оборудования для технологических процессов
					p #[strong Шульга Сергей Казимирович]
					p тел.: #[a(href="+73519001500" ).accent-link +7 (351) 900-15-00], e-mail: #[a(href="mailto:shs@teplovey.ru") shs@teplovey.ru]

					h3 Руководитель отдела качества
					p #[strong Миленьких Николай Васильевич]
					
					p тел.: #[a(href="+79026136012" ).accent-link +7 (902) 613-60-12], e-mail: #[a(href="mailto:teplovey_smk@mail.ru").accent-link teplovey_smk@mail.ru]

		.map-wrapper
			h2 Схема проезда с. Миасское, ул. 10 Пятилетки, 12-г
			.map
				iframe.lazy(src='https://yandex.ru/map-widget/v1/-/CCQ9N60y' width='100%' height='100%' frameborder='0' allowfullscreen)
			
			h2 Схема проезда на ул. Матросова, 1
			.map
				iframe.lazy(src='https://yandex.ru/map-widget/v1/-/CCUzm06H' width='100%' height='100%' frameborder='0' allowfullscreen)
