footer.footer
	.footer-top
		.container
			.footer-row.flex-row
				.footer-logo
					img(src="./img/logo-white.webp", width="400" height="80" alt="logo")
				.footer-contacts.flex-row
					.contacts-group
						a(href="+73512200530").special-link
							span.txt-light +7 (351)
							span.txt-bold 220-05-30
						a.accent-btn.btn-smpopup(href="/contacts/" title="Отправить сообщение") 
							svg.svg-check
								use(href='./img/sprite.svg#svg-check')
							span Заказать звонок
					
					.contacts-group
						address Челябинск,<br>пр. Ленина, 21-в
						a.accent-btn(href="#!" )
							svg.svg-check
								use(href='./img/sprite.svg#svg-check')
							span Все контакты


	// FOOTER BOTTOM
	.footer-bottom
		.container
			.flex-row
				.footer-search
					form.searchform(role='search' method='get' action='/search/' accept-charset='utf-8')
						input(type='hidden' name='searchid' value='4227292')
						input(type='hidden' name='l10n' value='ru')
						input(type='hidden' name='reqenc')
						.form-group
							label.form-item-label(for='search') Поиск:
							input#search.field.searchform-s(type='text' name='text' placeholder='Для поиска нажмите Enter …')
				// select-city
				.select-city
					span Город:
					a(href="#!").btn-citypopup Челябинск
				// apptt-logo
				.apptt-logo
					span Продвижение
					.apptt-logo__img
						img(src="./img/appetty.webp", width="110" height="35" alt="appetty-logo")
				
				//FOOTER MENU
				.footer-menu
					ul
						li
							a(href="#!") О компании
						li
							a(href="#!") Продукция
						li
							a(href="#!") Услуги
						li
							a(href="#!") Статьи
						li
							a(href="#!") Контакты
						li
							a(href="#!") Политика конфеденциальности