footer.footer
	.footer-top
		.container
			.footer-row.flex-row
				.footer-logo
					img(src="./img/logo-white.webp", width="400" height="80" alt="logo")
				.footer-contacts.flex-row
					.contacts-group
						a(href="+73512200530").special-link
							span.txt-light +7 (351)
							span.txt-bold 220-05-30
						a.accent-btn.btn-smpopup(href="/contacts/" title="Отправить сообщение") 
							svg.svg-check
								use(href='./img/sprite.svg#svg-check')
							span Заказать звонок
					
					.contacts-group
						address Челябинск,<br>пр. Ленина, 21-в
						a.accent-btn(href="#!" )
							svg.svg-check
								use(href='./img/sprite.svg#svg-check')
							span Все контакты



	.footer-bottom