footer.footer
	.footer-top
		.container
			.footer-row.flex-row
				.footer-logo
					img.lazy(src="./img/logo-white.webp", width="400" height="80" alt="logo")
				.footer-contacts.flex-row
					.contacts-group
						a(href="+73512200530").special-link
							span.txt-light +7 (351)
							span.txt-bold 220-05-30
						a.accent-btn.btn-smpopup(href="/contacts/" title="Отправить сообщение") 
							svg.svg-check
								use(href='./img/sprite.svg#svg-check')
							span Заказать звонок
					
					.contacts-group
						address Челябинск,<br>пр. Ленина, 21-в
						a.accent-btn(href="#!" )
							svg.svg-check
								use(href='./img/sprite.svg#svg-check')
							span Все контакты

	// FOOTER BOTTOM
	.footer-bottom
		.container
			.flex-row
				.footer-search
					form.searchform(role='search' method='get' action='/search/' accept-charset='utf-8')
						input(type='hidden' name='searchid' value='4227292')
						input(type='hidden' name='l10n' value='ru')
						input(type='hidden' name='reqenc')
						.form-group
							label.form-item-label(for='search') Поиск:
							input#search.field.searchform-s(type='text' name='text' placeholder='Для поиска нажмите Enter …')
				// select-city
				.select-city-group.flex-row
					p Город
					+select-city
				// apptt-logo
				.apptt-logo
					span Продвижение
					a(href="https://appetty.ru/?utm_source=teplovey&amp;utm_medium=ref&amp;utm_campaign=footerlogo" target="_blank").apptt-logo__img
						img.lazy(src="./img/appetty.webp", width="110" height="35" alt="appetty-logo")
				
				//FOOTER MENU
				.footer-menu
					ul
						li
							a(href="#!") О компании
						li
							a(href="#!") Продукция
						li
							a(href="#!") Услуги
						li
							a(href="#!") Статьи
						li
							a(href="#!") Контакты
						li
							a(href="#!") Политика конфеденциальности

//=========city select======
mixin select-city
	.select-city
		.select-city-trigger Москва
		.select-city-tabs
			.tabs-trigger
				span.tab-btn.active А
				span.tab-btn Б
				span.tab-btn в
				span.tab-btn г
				span.tab-btn д
				span.tab-btn е
				span.tab-btn ж
				span.tab-btn з
				span.tab-btn и
				span.tab-btn К
				span.tab-btn л
				span.tab-btn м
				span.tab-btn н
				span.tab-btn о
				span.tab-btn п
				span.tab-btn р
				span.tab-btn с
				span.tab-btn т
				span.tab-btn у
				span.tab-btn ф
				span.tab-btn х
				span.tab-btn ц
				span.tab-btn ч
				span.tab-btn ш
				span.tab-btn щ
				span.tab-btn э
				span.tab-btn ю
				span.tab-btn я
			.tabs-content
				.tab-item.active
					span.custom-option(data-value='1') Арзамас
					span.custom-option(data-value='2') Архангельск
					span.custom-option(data-value='3') Астрахань
					span.custom-option(data-value='1') Арзамас
					span.custom-option(data-value='2') Архангельск
					span.custom-option(data-value='3') Астрахань
					span.custom-option(data-value='1') Арзамас
					span.custom-option(data-value='2') Архангельск
					span.custom-option(data-value='3') Астрахань
					span.custom-option(data-value='1') Арзамас
					span.custom-option(data-value='2') Архангельск
					span.custom-option(data-value='3') Астрахань
					span.custom-option(data-value='1') Арзамас
					span.custom-option(data-value='2') Архангельск
					span.custom-option(data-value='3') Астрахань
					span.custom-option(data-value='1') Арзамас
					span.custom-option(data-value='2') Архангельск
					span.custom-option(data-value='3') Астрахань
					span.custom-option(data-value='1') Арзамас
					span.custom-option(data-value='2') Архангельск
					span.custom-option(data-value='3') Астрахань
					span.custom-option(data-value='1') Арзамас
					span.custom-option(data-value='2') Архангельск
					span.custom-option(data-value='3') Астрахань
				.tab-item
					span.custom-option(data-value='4') Брянск
					span.custom-option(data-value='5') Белгород
					span.custom-option(data-value='3') Буйнакск
					span.custom-option(data-value='4') Брянск
					span.custom-option(data-value='5') Белгород
					span.custom-option(data-value='3') Буйнакск
					span.custom-option(data-value='4') Брянск
					span.custom-option(data-value='5') Белгород
					span.custom-option(data-value='3') Буйнакск
					
				.tab-item
					span.custom-option(data-value='6') Воркута
					span.custom-option(data-value='7') Волгоград
					span.custom-option(data-value='7') Волгоград
					span.custom-option(data-value='7') Волгоград