header.header
	// HEADER TOP ROW
	.header-top
		.container
			.flex-row
				.header-top__title
					p общество с ограниченной ответственностью
					h2.h2 Научно-Производственное Объединение
				a(href="index.html").logo
					img(src="./img/logo.webp", width="430" height="85" alt="logo")
				.header-top__contacts.txt-center
					a(href="+73512200530").special-link
						span.txt-light +7 (351)
						span.txt-bold 220-05-30
					a.btn-cbpopup.roboto-accent(href="#!") Заказать звонок
	// HEADER BOTTOM ROW
	.header-bottom
		.container
			.header-menu.drop-menu
				ul
					li.menu-item.active
						a(href="index.html").menu-link.menu-link--icon
							svg.svg-home
								use(href='./img/sprite.svg#svg-home')
					li.menu-item.drop-menu.drop-menu_2
						a(href="#!").menu-link О компании
						span.drop-icon
						// submenu-2
						.submenu.submenu--medium.submenu-2
							ul
								li
									a(href="#!") О компании
								li
									a(href="#!") Качество
								li
									a(href="#!") Разрешительные документы
								li
									a(href="#!") Дипломы, патенты, авторские свидетельства
								li
									a(href="#!") Дилеры и партнеры
								li
									a(href="#!") Опросные листы
								li
									a(href="#!") Пресса о нас
								li
									a(href="#!") Обзоры и статьи
					
					// Продукция и решения
					li.menu-item.drop-menu.drop-menu_2
						a(href="#!").menu-link Продукция и решения
						span.drop-icon
						// submenu-2
						.submenu.submenu--medium.submenu-2
							ul
								li.drop-menu
									a(href="#!") Решения
								li.drop-menu
									a(href="#!") Вентиляционное оборудование
								li.drop-menu.drop-menu_3
									a(href="#!") Воздухонагреватели (теплогенераторы)	
									span.drop-icon
									.submenu.submenu-3
										ul
											li.drop-menu.drop-menu_4
												a(href="#!") Секция газового нагрева для вент. установки
												
											li
												a(href="#!") Воздухонагреватели смесительные
											li.drop-menu.drop-menu_4
												a(href="#!") Воздухонагреватели стационарные рекуперативные
												span.drop-icon
												.submenu.submenu-4
													ul
														li
															a(href="#!") Воздухонагреватели  рекуперативные револьверные
														li
															a(href="#!") Воздухонагреватели  рекуперативные горизонтальные высокотемпературные
											li
												a(href="#!") Воздухонагреватель смесительный высокотемпературный с высокой степенью нагрева
											li
												a(href="#!") Воздухонагреватели для высокотемпературных технологических процессов
											li
												a(href="#!") Воздухонагреватели мобильные
								li.drop-menu
									a(href="#!") Приточные установнки	
					
								li.drop-menu.drop-menu_3
									a(href="#!") Приточно-вытяжные установки
									span.drop-icon
									
									.submenu.submenu-3
										ul
											li.drop-menu.drop-menu_4
												a(href="#!") submenu-3
												span.drop-icon
												.submenu.submenu-4
													ul
														li
															a(href="#!") submenu-4	
								li.drop-menu.drop-menu_3
									a(href="#!") Комплектующие для вентиляции
									span.drop-icon
									
									.submenu.submenu-3
										ul
											li.drop-menu.drop-menu_4
												a(href="#!") submenu-3
												span.drop-icon
												.submenu.submenu-4
													ul
														li
															a(href="#!") submenu-4
								li.drop-menu
									a(href="#!") Рекуператоры полимерные
								li.drop-menu
									a(href="#!") Инфракрасная сушилка с рекуператором
								li.drop-menu
									a(href="#!") Системы автоматизации и управления
								li.drop-menu
									a(href="#!") Каталог продукции
								li.drop-menu
									a(href="#!") Вся продукция
					
					li.menu-item
						a(href="#!").menu-link Наши услуги
					
					li.menu-item
						a(href="#!").menu-link Выполненные проекты
						
												
					li.menu-item
						a(href="#!").menu-link
							svg.svg-phone
								use(href='./img/sprite.svg#svg-phone')
							| Kонтакты
