// RESULTS 
section.our-results
	.section-title
		h2.title НПО Тепловей в цифрах
	.container-narrow
		.grid-five-columns.p-block-40
			.grid-col-2
				.our-results-item
					img(src="./img/icon-benefit.webp", width="119" height="119" alt="icon")
					p.txt-dark 25+
					p.txt-accent лет на рынке
			.grid-col-2
				.our-results-item
					img(src="./img/icon-benefit.webp", width="119" height="119" alt="icon")
					p.txt-dark 55+
					p.txt-accent ИЗДЕЛИЙ в модельном ряду
			.grid-col-2
				.our-results-item
					img(src="./img/icon-benefit.webp", width="119" height="119" alt="icon")
					p.txt-dark 1000+
					p.txt-accent выполненных проектов
			.grid-col-2
				.our-results-item
					img(src="./img/icon-benefit.webp", width="119" height="119" alt="icon")
					p.txt-dark 700+
					p.txt-accent ДОВОЛЬНЫХ КЛИЕНТОВ
			.grid-col-2
				.our-results-item
					img(src="./img/icon-benefit.webp", width="119" height="119" alt="icon")
					p.txt-dark 7700+ #[span ггкал]
					p.txt-accent суммарная мощность проектов