//=== .has-overlay и .overlay дают прозрачный фон, белый к центру
section.our-products.has-overlay
	.section-title
		h2.title Наша продукция
	.container
		.overlay
		// класс p-block-40 дает вертикальные отступы по 40 пикс, bg-white - дает белый фоновый цвет, .d-grid-4 - 4 колонки
		.products-content.p-block-40
			//===SINGLE CATEGORY ===
			.single-part
				h2.h3 
					a(href="#!").link-title Системы вентиляции
				
				.d-grid-4
					+product-card('prod1', 'Приточные установки')(class="img-round")
					+product-card('prod2', 'Приточно-вытяжные установки')(class="img-round")
					+product-card('prod3', 'Комплектующие к системам вентиляции')(class="img-round")
					+product-card('prod4', 'Рекуператоры')(class="img-round")
					+product-card('prod5', 'ПВУ с рекуперацией')(class="img-round")

			//===SINGLE CATEGORY ===
			.single-part
				h3.h3
					a(href="#!").link-title Воздухонагреватели
				.d-grid-4
					+product-card('vn1', 'Секция газового нагрева')(class="img-round")
					+product-card('vn2', 'Воздухонагреватель смесительный высокотемпературный')(class="img-round")
					+product-card('vn3', 'Воздухонагреватели рекуперативные')(class="img-round")
					+product-card('vn4', 'Воздухонагреватели для высокотемпературных тех. процессов')(class="img-round")
					+product-card('vn5', 'Мобильные воздухонагреватели')(class="img-round")
					+product-card('vn6', 'Высокотемпературные рекуперативные воздухонагреватели')(class="img-round")
					+product-card('vn7', 'Смесительные воздухонагреватели')(class="img-round")
					+product-card('vn8', 'Воздухонагреватели рекуперативные револьверные')(class="img-round")
		
			//===SINGLE CATEGORY ===
			.single-part
				h3.h3 Другая продукция
				.d-grid-4
					+product-card('prod6', 'Инфракрасная сушилка с рекуперацией')
					+product-card('prod7', 'Системы автоматизации и управления')
					

				// кнопка - ссылка Класс mt-48  задает отступ вверх на 48пикс.
				.mt-40
					a(href="#!").accent-btn.w-100 Вся продукция

			//===SINGLE CATEGORY ===
			.single-part
				h3.h3 
					a(href="#!").link-title Решения
				.d-grid-4
					+product-card('prod8', 'Вентиляция с рекуперацией')
					+product-card('prod9', 'Системы вентиляции')
					+product-card('prod10', 'Увлажнение воздуха')
					+product-card('prod11', 'Воздушное отопление')
					+product-card('prod12', 'Отопление и вентиляция торговых комплексов')
					+product-card('prod13', 'Обогрев воздухом')
					+product-card('prod14', 'Кондиционирование воздуха')
					+product-card('prod15', 'Система рекуперации тепла воздуха')
					+product-card('prod16', 'Рекуператоры воздуха - типы, принцип работы и эффективность')
					 
				// кнопка - ссылка Класс mt-48  задает отступ вверх на 48пикс.
				.mt-40
					a(href="#!").accent-btn.w-100 Все решения