section.benefits.p-block-40.has-overlay
	.container
		.overlay
		.bg-title
			h2.title Почему выбирают нашу компанию?
		ul.accent-list
			li Мы используем качественные материалы и оборудование при производстве металлоконструкций
			li Наш девиз — индивидуальный подход и точное исполнение всех работ
			li Профессионализм каждого сотрудника!