section.our-products
	.section-title
		h2.title Наша продукция
	.container
		
		// класс p-block-40 дает вертикальные отступы по 40 пикс, bg-white - дает белый фоновый цвет, .grid-four-columns - 4 колонки, .single-part--hover - подчеркивание заголовка по ховеру над секцией
		.products-content.p-block-40
			//===SINGLE CATEGORY ===
			.single-part
				h2.h3 
					a(href="#!").link-title Системы вентиляции
				
				.grid-four-columns
					.grid-col-3
						a(href="#!").prod-link.img-round
							.img-wrap
								img(src="./img/prod1.webp", width="300" height="170" alt="img")
							.prod-link__body
								.accent-link Приточные установки
					.grid-col-3
						a(href="#!").prod-link.img-round
							.img-wrap
								img(src="./img/prod2.webp", width="300" height="170" alt="img")
							.prod-link__body
								.accent-link Приточно-вытяжные установки
					.grid-col-3
						a(href="#!").prod-link.img-round
							.img-wrap
								img(src="./img/prod3.webp", width="300" height="170" alt="img")
							.prod-link__body
								.accent-link Комплектующие к системам вентиляции
					.grid-col-3
						a(href="#!").prod-link.img-round
							.img-wrap
								img(src="./img/prod4.webp", width="300" height="170" alt="img")
							.prod-link__body
								.accent-link Рекуператоры

					.grid-col-3
						a(href="#!").prod-link.img-round
							.img-wrap
								img(src="./img/prod5.webp", width="300" height="170" alt="img")
							.prod-link__body
								.accent-link ПВУ с рекуперацией
			//===SINGLE CATEGORY ===
			.single-part.single-part--hover
				h3.h3
					a(href="#!").link-title Воздухонагреватели
				.grid-four-columns
					.grid-col-3
						a(href="#!").prod-link.img-round
							.img-wrap
								img(src="./img/vn1.webp", width="300" height="170" alt="img")
							.prod-link__body
								.accent-link Секция газового нагрева
					.grid-col-3
						a(href="#!").prod-link.img-round
							.img-wrap
								img(src="./img/vn2.webp", width="300" height="170" alt="img")
							.prod-link__body
								.accent-link Воздухонагреватель смесительный высокотемпературный
					.grid-col-3
						a(href="#!").prod-link.img-round
							.img-wrap
								img(src="./img/vn3.webp", width="300" height="170" alt="img")
							.prod-link__body
								.accent-link Воздухонагреватели рекуперативные
					.grid-col-3
						a(href="#!").prod-link.img-round
							.img-wrap
								img(src="./img/vn4.webp", width="300" height="170" alt="img")
							.prod-link__body
								.accent-link Воздухонагреватели для высокотемпературных тех. процессов

					.grid-col-3
						a(href="#!").prod-link.img-round
							.img-wrap
								img(src="./img/vn5.webp", width="300" height="170" alt="img")
							.prod-link__body
								.accent-link Мобильные воздухонагреватели
					.grid-col-3
						a(href="#!").prod-link.img-round
							.img-wrap
								img(src="./img/vn6.webp", width="300" height="170" alt="img")
							.prod-link__body
								.accent-link Высокотемпературные рекуперативные воздухонагреватели
					.grid-col-3
						a(href="#!").prod-link.img-round
							.img-wrap
								img(src="./img/vn7.webp", width="300" height="170" alt="img")
							.prod-link__body
								.accent-link Смесительные воздухонагреватели

					.grid-col-3
						a(href="#!").prod-link.img-round
							.img-wrap
								img(src="./img/vn8.webp", width="300" height="170" alt="img")
							.prod-link__body
								.accent-link Воздухонагреватели рекуперативные револьверные
		
			//===SINGLE CATEGORY ===
			.single-part
				h3.h3 Другая продукция
				.grid-four-columns
					.grid-col-3
						a(href="#!").prod-link
							.img-wrap
								img(src="./img/prod6.webp", width="300" height="170" alt="img")
							.prod-link__body
								.accent-link Инфракрасная сушилка с рекуперацией
					.grid-col-3
						a(href="#!").prod-link
							.img-wrap
								img(src="./img/prod7.webp", width="300" height="170" alt="img")
							.prod-link__body
								.accent-link Системы автоматизации и управления

				// кнопка - ссылка Класс mt-48  задает отступ вверх на 48пикс.
				.mt-40
					a(href="#!").accent-btn.w-100 Вся продукция

			//===SINGLE CATEGORY ===
			.single-part
				h3.h3 
					a(href="#!").link-title Решения
				.grid-four-columns
					.grid-col-3
						a(href="#!").prod-link
							.img-wrap
								img(src="./img/prod8.webp", width="300" height="170" alt="img")
							.prod-link__body
								.accent-link Вентиляция с рекуперацией
					.grid-col-3
						a(href="#!").prod-link
							.img-wrap
								img(src="./img/prod9.webp", width="300" height="170" alt="img")
							.prod-link__body
								.accent-link Системы вентиляции
					
					.grid-col-3
						a(href="#!").prod-link
							.img-wrap
								img(src="./img/prod10.webp", width="300" height="170" alt="img")
							.prod-link__body
								.accent-link Увлажнение воздуха
					.grid-col-3
						a(href="#!").prod-link
							.img-wrap
								img(src="./img/prod11.webp", width="300" height="170" alt="img")
							.prod-link__body
								.accent-link Воздушное отопление

					.grid-col-3
						a(href="#!").prod-link
							.img-wrap
								img(src="./img/prod12.webp", width="300" height="170" alt="img")
							.prod-link__body
								.accent-link Отопление и вентиляция торговых комплексов
					.grid-col-3
						a(href="#!").prod-link
							.img-wrap
								img(src="./img/prod13.webp", width="300" height="170" alt="img")
							.prod-link__body
								.accent-link Обогрев воздухом
					
					.grid-col-3
						a(href="#!").prod-link
							.img-wrap
								img(src="./img/prod14.webp", width="300" height="170" alt="img")
							.prod-link__body
								.accent-link Кондиционирование воздуха
					.grid-col-3
						a(href="#!").prod-link
							.img-wrap
								img(src="./img/prod15.webp", width="300" height="170" alt="img")
							.prod-link__body
								.accent-link Система рекуперации тепла воздуха

					.grid-col-3
						a(href="#!").prod-link
							.img-wrap
								img(src="./img/prod16.webp", width="300" height="170" alt="img")
							.prod-link__body
								.accent-link Рекуператоры воздуха - типы, принцип работы и эффективность			
				// кнопка - ссылка Класс mt-48  задает отступ вверх на 48пикс.
				.mt-40
					a(href="#!").accent-btn.w-100 Все решения