// RESULTS 
section.our-results
	.section-title
		h2.title НПО Тепловей в цифрах
	.container-narrow
		.d-grid-5.p-block-40
			.our-results-item
				img(src="./img/icon-benefit.webp", width="119" height="119" alt="icon")
				p.txt-black 25+
				p.txt-accent лет на рынке
		
			.our-results-item
				img(src="./img/icon-benefit.webp", width="119" height="119" alt="icon")
				p.txt-black 55+
				p.txt-accent ИЗДЕЛИЙ в модельном ряду
		
			.our-results-item
				img(src="./img/icon-benefit.webp", width="119" height="119" alt="icon")
				p.txt-black 1000+
				p.txt-accent выполненных проектов
		
			.our-results-item
				img(src="./img/icon-benefit.webp", width="119" height="119" alt="icon")
				p.txt-black 700+
				p.txt-accent ДОВОЛЬНЫХ КЛИЕНТОВ
		
			.our-results-item
				img(src="./img/icon-benefit.webp", width="119" height="119" alt="icon")
				p.txt-black 7700+ #[span ггкал]
				p.txt-accent суммарная мощность проектов