section.contacts.p-block-40
	.bg-title
		h2.title Почему выбирают нашу компанию?
	.container
		ul.accent-list
			li Мы используем качественные материалы и оборудование при производстве металлоконструкций
			li Наш девиз — индивидуальный подход и точное исполнение всех работ
			li Профессионализм каждого сотрудника!