// OUR PROJECTS 
section.our-projects
	.section-title
		h2.title Выполненные проекты
	.container
		// класс p-block-40 дает вертикальные отступы по 40 пикс, bg-white - дает белый фоновый цвет, .grid-four-columns - 4 колонки, .single-part--hover - подчеркивание заголовка по ховеру над секцией
		.projects-content
			//===SINGLE CATEGORY ===
			.single-part.p-block-40
				h3.h3.txt-accent Выполненные проекты
				
				.grid-four-columns
					.grid-col-3
						a(href="#!").prod-link
							.img-wrap
								img(src="./img/proj1.webp", width="300" height="170" alt="img")
							.prod-link__body
								.accent-link Сушильный цех с рекуператором
								p Цех работает уже более 2х лет и рекуператор снижает мощность на нагрев не менее, чем вдвое
					.grid-col-3
						a(href="#!").prod-link
							.img-wrap
								img(src="./img/proj2.webp", width="300" height="170" alt="img")
							.prod-link__body
								.accent-link Рекуператор для макаронного цеха
								p Рекуператор работает с температурой до 70° С и высоким влагосодержанием
					.grid-col-3
						a(href="#!").prod-link
							.img-wrap
								img(src="./img/proj3.webp", width="300" height="170" alt="img")
							.prod-link__body
								.accent-link ПВУ с рекуперацией для пиццерии
								p Система вентиляции с канальным рекуператором производительностью 3500 м3/час
					.grid-col-3
						a(href="#!").prod-link
							.img-wrap
								img(src="./img/proj4.webp", width="300" height="170" alt="img")
							.prod-link__body
								.accent-link ПВУ с рекуперацией для Алвид
								p Смонтирована приточно-вытяжная установка с рекуперацией на 65000 м3/час и блоком нагрева на 580 кВт

				.mt-48
					a(href="#!").arrow-link
						span.accent-link Все выполненные проекты
						svg.svg-arrow-right
							use(href='./img/sprite.svg#svg-arrow-right')