// OUR PROJECTS 
section.our-projects
	.section-title
		h2.title Выполненные проекты
	.container
		.projects-content.p-block-40
			//===SINGLE CATEGORY ===
			.single-part
				h3.h3.txt-accent Выполненные проекты
				
				.d-grid-4
					+product-card('proj1', 'Сушильный цех с рекуператором', 'Цех работает уже более 2х лет и рекуператор снижает мощность на нагрев не менее, чем вдвое')
					+product-card('proj2', 'Рекуператор для макаронного цеха', 'Рекуператор работает с температурой до 70° С и высоким влагосодержанием')
					+product-card('proj3', 'ПВУ с рекуперацией для пиццерии', 'Система вентиляции с канальным рекуператором производительностью 3500 м3/час')
					+product-card('proj4', 'ПВУ с рекуперацией для Алвид', 'Смонтирована приточно-вытяжная установка с рекуперацией на 65000 м3/час и блоком нагрева на 580 кВт')
					
				.mt-40
					a(href="#!").arrow-link
						span.accent-link Все выполненные проекты
						svg.svg-arrow-right
							use(href='./img/sprite.svg#svg-arrow-right')