section.product-description.custom-text
	.container
		p Полимерный рекуператор тепла вентиляционных выбросов – это конструкция из блока рекуперации и корпуса для рекуперации тепла вентиляционных выбросов. Блок рекуперации — это теплообменник «воздух-воздух» пластинчатого (мембранного) типа собранный из полимерной (PET или ПЭТ пленки) мембраны и каркаса из пластикового или алюминиевого профиля. Может выполняться в виде отдельного блока или секцией в составе вентиляционной установки или в канальном исполнении. Чаще всего, рекуператор на вытяжную вентиляцию в Челябинске устанавливается в составе приточной-вытяжной установки.
		.product-characteristics.d-grid-4.mt-30
			.grid-column.txt-center
				p.title-29 Производительность
				p.txt-30 600 — 130 000
					span м#[sup 3]/час
			.grid-column.txt-center
				p.title-29 Температура среды
				p.txt-30 от -40 до 180°
					span и более (с подмесом)
			.grid-column.txt-center
				p.title-29 Срок окупаемости
				p.txt-30 1 — 6
					span лет
			.grid-column.txt-center
				p.title-29 Гарантированный КПД
				p.txt-30 до 60+%
					span в реальных условиях
		
		h2 Преимущества полимерных рекуператоров
		.float-right-img
			img(src="./img/img-float.webp", width="415" height="330" alt="img")
			p Благодаря особенностям конструкции полимерный теплообменник имеет существенные преимущества перед рекуператорами из других материалов.
		
		ul.decore-list
			li
				p.title-18 Полное разделение потоков
				p Свежий и отработанный воздух не смешиваются. Также нет передачи влаги.
			li
				p.title-18 Устойчив к большинству кислот
				p Промышленные рекуператоры можно применять на производствах с едкими кислотными испарениями, например, на предприятиях химической промышленности, птичниках, животноводческих фермах.
			li
				p.title-18 Не обмерзает
				p Полимерный мембранный рекуператор не боится обмерзания при низких температурах приточного воздуха за счёт капельного обмёрзания у ПЭТ-плёнки, а не плёночного, как у алюминия. Поэтому намерзшие на поверхности капельки льда скалываются с поверхности рекуператора за счёт вибрации.
			li
				p.title-18 Высокий КПД
				p Регулируемая вибрация плёнки позволяет получать оптимальный коэффициент теплопередачи за счёт разрушения пристенного ламинарного слоя воздушного потока и его турбулизации.
			li
				p.title-18 Преимущество в цене
				p Во многих случаях дешевле металлических аналогов.
			li
				p.title-18 Большой срок службы
				p Срок службы не менее 10 лет.
			li
				p.title-18 Большая гарантия
				p Гарантийный срок эксплуатации в пределах 3 лет, при условии правильного проектирования, подбора и монтажа.
			li
				p.title-18 Удобно монтировать и обслуживать
				p Конструкция рекуператора и его малый вес определяют удобство в его обслуживании и ремонте. Канальный рекуператор может встроен в существующую систему вентиляции без значительных доработок.
			li
				p.title-18 Устойчивость к загрязнению
				p Поверхностная энергия ПЭТ-плёнки в 29 раз меньше поверхностной энергии алюминия → адгезия загрязняющих веществ, как твёрдых (например, пыль), так и жидких (капли, конденсат) будет у ПЭТ плёнки кратно меньше.

		h2.h2 Сферы применения
		.product-application.d-grid-4
			.grid-column
				p.title-29 Малый бизнес
				ul
					li
						p Офисы
					li
						p Рестораны и общепит
					li
						p Бани и бассейны
					li
						p Спортзалы, корты
					li
						p Кинотеатры, концертные залы
			.grid-column
				p.title-29 Сельское хозяйство
				ul
					li
						p Животноводческие фермы
					li
						p Курятники
					li
						p Предприятия с/х переработки
					li
						p Холодильные установки
			.grid-column
				p.title-29 В промышленности
				ul
					li
						p Печи и дымовые газы
					li
						p Производственные помещения
					li
						p Покрасочные и пескоструйные камеры
				
			.grid-column
				p.title-29 Бытовые рекуператоры
				ul
					li 
						a(href="#!") Рекуператор для квартиры
					li 
						a(href="#!") Система рекуперации для дома
		
		//========================================
		h2 Подобрать рекуператор
		p Подберите рекуператор по параметрам вашей вентиляционной системы.
		
		//  Фильтр 
		.filter-container
			form.filter-form#filter-form
				.filter-form-row.area-flow
					.filter-form-row__title Скорость потока воздуха
					.filter-form-row__vals
						label.filter-radio
							input(type='radio' name='airflow_speed' value='4' checked)
							span 4 м/с
						label.filter-radio
							input(type='radio' name='airflow_speed' value='6')
							span 6 м/с
						label.filter-radio
							input(type='radio' name='airflow_speed' value='8')
							span 8 м/с
				.filter-form-row.area-airflow
					.filter-form-row__title
						| Расход воздуха, м
						sup 3
						| /ч
					.filter-form-row__vals.range-input
						input#airflow(type='number' max='130000' min='500' name='airflow_rate' placeholder='1000')
						.filter-form-row__range#airflow-range
				.filter-form-row.area-buttons
					.filter-form-row__title  
					button.filter-form-row__submit.btn.btn-orange(type='submit' onclick='dataLayer.push({\'event\': \'rekup-podbor-click\'});') Подобрать
				.filter-form__alert.area-alert
					.filter-form__info(data-val='500')
						svg(xmlns='http://www.w3.org/2000/svg' version='1.1' xlink='http://www.w3.org/1999/xlink' width='24' height='24' x='0' y='0' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512' space='preserve')
							g
								path(d='M256 0C114.509 0 0 114.496 0 256c0 141.489 114.496 256 256 256 141.491 0 256-114.496 256-256C512 114.511 397.504 0 256 0zm0 476.279c-121.462 0-220.279-98.816-220.279-220.279S134.538 35.721 256 35.721 476.279 134.537 476.279 256 377.462 476.279 256 476.279z' fill='#ff8800')
								path(d='M256.006 213.397c-15.164 0-25.947 6.404-25.947 15.839v128.386c0 8.088 10.783 16.174 25.947 16.174 14.49 0 26.283-8.086 26.283-16.174V229.234c0-9.434-11.793-15.837-26.283-15.837zM256.006 134.208c-15.501 0-27.631 11.12-27.631 23.925 0 12.806 12.131 24.263 27.631 24.263 15.164 0 27.296-11.457 27.296-24.263 0-12.805-12.133-23.925-27.296-23.925z' fill='#ff8800')
						div
							p
								| В нашем стандартном модельном ряду есть модели от 500 м
								sup 3
								| /ч, но мы производим оборудование и по индивидуальным заказам.
							| .

							p
								a(href='#feedback' onclick='feedbackForm()') Отправьте заявку
								|  и мы предложим Вам индивидуальное решение.
					.filter-form__info(data-val='130000')
						svg(xmlns='http://www.w3.org/2000/svg' version='1.1' xlink='http://www.w3.org/1999/xlink' width='24' height='24' x='0' y='0' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512' space='preserve')
							g
								path(d='M256 0C114.509 0 0 114.496 0 256c0 141.489 114.496 256 256 256 141.491 0 256-114.496 256-256C512 114.511 397.504 0 256 0zm0 476.279c-121.462 0-220.279-98.816-220.279-220.279S134.538 35.721 256 35.721 476.279 134.537 476.279 256 377.462 476.279 256 476.279z' fill='#ff8800')
								path(d='M256.006 213.397c-15.164 0-25.947 6.404-25.947 15.839v128.386c0 8.088 10.783 16.174 25.947 16.174 14.49 0 26.283-8.086 26.283-16.174V229.234c0-9.434-11.793-15.837-26.283-15.837zM256.006 134.208c-15.501 0-27.631 11.12-27.631 23.925 0 12.806 12.131 24.263 27.631 24.263 15.164 0 27.296-11.457 27.296-24.263 0-12.805-12.133-23.925-27.296-23.925z' fill='#ff8800')
						div
							p
								| Наши стандартные модели обеспечивают производительность до 130 000 м
								sup 3
								| /ч.
								br
								| Если вам нужно больше - 
								a(href='#feedback' onclick='feedbackForm()') отправьте заявку
								| , мы подберем для вас индивидуальное решение.
					.filter-form__info(data-val='0')
						svg(xmlns='http://www.w3.org/2000/svg' version='1.1' xlink='http://www.w3.org/1999/xlink' width='24' height='24' x='0' y='0' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512' space='preserve')
							g
								path(d='M256 0C114.509 0 0 114.496 0 256c0 141.489 114.496 256 256 256 141.491 0 256-114.496 256-256C512 114.511 397.504 0 256 0zm0 476.279c-121.462 0-220.279-98.816-220.279-220.279S134.538 35.721 256 35.721 476.279 134.537 476.279 256 377.462 476.279 256 476.279z' fill='#ff8800')
								path(d='M256.006 213.397c-15.164 0-25.947 6.404-25.947 15.839v128.386c0 8.088 10.783 16.174 25.947 16.174 14.49 0 26.283-8.086 26.283-16.174V229.234c0-9.434-11.793-15.837-26.283-15.837zM256.006 134.208c-15.501 0-27.631 11.12-27.631 23.925 0 12.806 12.131 24.263 27.631 24.263 15.164 0 27.296-11.457 27.296-24.263 0-12.805-12.133-23.925-27.296-23.925z' fill='#ff8800')
						div
							p
								| К сожалению, мы не смогли подобрать подходящие варианты среди серийных моделей. Вы можете 
								a(href='#feedback' onclick='feedbackForm()') оставить заявку
								| , и мы предложим вам подходящее индивидуальное решение.
			.filter-result#filter-result