section.product-description
	.container
		.custom-text
			p Полимерный рекуператор тепла вентиляционных выбросов – это конструкция из блока рекуперации и корпуса для рекуперации тепла вентиляционных выбросов. Блок рекуперации — это теплообменник «воздух-воздух» пластинчатого (мембранного) типа собранный из полимерной (PET или ПЭТ пленки) мембраны и каркаса из пластикового или алюминиевого профиля. Может выполняться в виде отдельного блока или секцией в составе вентиляционной установки или в канальном исполнении. Чаще всего, рекуператор на вытяжную вентиляцию в Челябинске устанавливается в составе приточной-вытяжной установки.
			.product-characteristics.d-grid-4.mt-30
				.grid-column.txt-center
					p.title-29 Производительность
					p.txt-30 600 — 130 000
						span м#[sup 3]/час
				.grid-column.txt-center
					p.title-29 Температура среды
					p.txt-30 от -40 до 180°
						span и более (с подмесом)
				.grid-column.txt-center
					p.title-29 Срок окупаемости
					p.txt-30 1 — 6
						span лет
				.grid-column.txt-center
					p.title-29 Гарантированный КПД
					p.txt-30 до 60+%
						span в реальных условиях
			
			h2 Преимущества полимерных рекуператоров
			.float-right-img
				img(src="./img/img-float.webp", width="415" height="330" alt="img")
			p Благодаря особенностям конструкции полимерный теплообменник имеет существенные преимущества перед рекуператорами из других материалов.
			
			ul.decore-list.child-mt-25
				li
					p.title-18 Полное разделение потоков
					p Свежий и отработанный воздух не смешиваются. Также нет передачи влаги.
				li
					p.title-18 Устойчив к большинству кислот
					p Промышленные рекуператоры можно применять на производствах с едкими кислотными испарениями, например, на предприятиях химической промышленности, птичниках, животноводческих фермах.
				li
					p.title-18 Не обмерзает
					p Полимерный мембранный рекуператор не боится обмерзания при низких температурах приточного воздуха за счёт капельного обмёрзания у ПЭТ-плёнки, а не плёночного, как у алюминия. Поэтому намерзшие на поверхности капельки льда скалываются с поверхности рекуператора за счёт вибрации.
				li
					p.title-18 Высокий КПД
					p Регулируемая вибрация плёнки позволяет получать оптимальный коэффициент теплопередачи за счёт разрушения пристенного ламинарного слоя воздушного потока и его турбулизации.
				li
					p.title-18 Преимущество в цене
					p Во многих случаях дешевле металлических аналогов.
				li
					p.title-18 Большой срок службы
					p Срок службы не менее 10 лет.
				li
					p.title-18 Большая гарантия
					p Гарантийный срок эксплуатации в пределах 3 лет, при условии правильного проектирования, подбора и монтажа.
				li
					p.title-18 Удобно монтировать и обслуживать
					p Конструкция рекуператора и его малый вес определяют удобство в его обслуживании и ремонте. Канальный рекуператор может встроен в существующую систему вентиляции без значительных доработок.
				li
					p.title-18 Устойчивость к загрязнению
					p Поверхностная энергия ПЭТ-плёнки в 29 раз меньше поверхностной энергии алюминия → адгезия загрязняющих веществ, как твёрдых (например, пыль), так и жидких (капли, конденсат) будет у ПЭТ плёнки кратно меньше.

			h2.h2 Сферы применения
			.product-application.d-grid-4
				.grid-column
					p.title-29 Малый бизнес
					ul
						li
							p Офисы
						li
							p Рестораны и общепит
						li
							p Бани и бассейны
						li
							p Спортзалы, корты
						li
							p Кинотеатры, концертные залы
				.grid-column
					p.title-29 Сельское хозяйство
					ul
						li
							p Животноводческие фермы
						li
							p Курятники
						li
							p Предприятия с/х переработки
						li
							p Холодильные установки
				.grid-column
					p.title-29 В промышленности
					ul
						li
							p Печи и дымовые газы
						li
							p Производственные помещения
						li
							p Покрасочные и пескоструйные камеры
					
				.grid-column
					p.title-29 Бытовые рекуператоры
					ul
						li 
							a(href="#!") Рекуператор для квартиры
						li 
							a(href="#!") Система рекуперации для дома
			
			//========================================
			h2 Подобрать рекуператор
			p Подберите рекуператор по параметрам вашей вентиляционной системы.
			
			//  Фильтр 
			.filter-container
				form.filter-form#filter-form
					.filter-form-row.area-flow
						.filter-form-row__title Скорость потока воздуха
						.filter-form-row__vals
							label.filter-radio
								input(type='radio' name='airflow_speed' value='4' checked)
								span 4 м/с
							label.filter-radio
								input(type='radio' name='airflow_speed' value='6')
								span 6 м/с
							label.filter-radio
								input(type='radio' name='airflow_speed' value='8')
								span 8 м/с
					.filter-form-row.area-airflow
						.filter-form-row__title
							| Расход воздуха, м
							sup 3
							| /ч
						.filter-form-row__vals.range-input
							input#airflow(type='number' max='130000' min='500' name='airflow_rate' placeholder='1000')
							.filter-form-row__range#airflow-range
					.filter-form-row.area-buttons
						.filter-form-row__title  
						button.filter-form-row__submit.btn.btn-orange(type='submit' onclick='dataLayer.push({\'event\': \'rekup-podbor-click\'});') Подобрать
					.filter-form__alert.area-alert
						.filter-form__info(data-val='500')
							svg(xmlns='http://www.w3.org/2000/svg' version='1.1' xlink='http://www.w3.org/1999/xlink' width='24' height='24' x='0' y='0' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512' space='preserve')
								g
									path(d='M256 0C114.509 0 0 114.496 0 256c0 141.489 114.496 256 256 256 141.491 0 256-114.496 256-256C512 114.511 397.504 0 256 0zm0 476.279c-121.462 0-220.279-98.816-220.279-220.279S134.538 35.721 256 35.721 476.279 134.537 476.279 256 377.462 476.279 256 476.279z' fill='#ff8800')
									path(d='M256.006 213.397c-15.164 0-25.947 6.404-25.947 15.839v128.386c0 8.088 10.783 16.174 25.947 16.174 14.49 0 26.283-8.086 26.283-16.174V229.234c0-9.434-11.793-15.837-26.283-15.837zM256.006 134.208c-15.501 0-27.631 11.12-27.631 23.925 0 12.806 12.131 24.263 27.631 24.263 15.164 0 27.296-11.457 27.296-24.263 0-12.805-12.133-23.925-27.296-23.925z' fill='#ff8800')
							div
								p
									| В нашем стандартном модельном ряду есть модели от 500 м
									sup 3
									| /ч, но мы производим оборудование и по индивидуальным заказам.
								| .

								p
									a(href='#feedback' onclick='feedbackForm()') Отправьте заявку
									|  и мы предложим Вам индивидуальное решение.
						.filter-form__info(data-val='130000')
							svg(xmlns='http://www.w3.org/2000/svg' version='1.1' xlink='http://www.w3.org/1999/xlink' width='24' height='24' x='0' y='0' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512' space='preserve')
								g
									path(d='M256 0C114.509 0 0 114.496 0 256c0 141.489 114.496 256 256 256 141.491 0 256-114.496 256-256C512 114.511 397.504 0 256 0zm0 476.279c-121.462 0-220.279-98.816-220.279-220.279S134.538 35.721 256 35.721 476.279 134.537 476.279 256 377.462 476.279 256 476.279z' fill='#ff8800')
									path(d='M256.006 213.397c-15.164 0-25.947 6.404-25.947 15.839v128.386c0 8.088 10.783 16.174 25.947 16.174 14.49 0 26.283-8.086 26.283-16.174V229.234c0-9.434-11.793-15.837-26.283-15.837zM256.006 134.208c-15.501 0-27.631 11.12-27.631 23.925 0 12.806 12.131 24.263 27.631 24.263 15.164 0 27.296-11.457 27.296-24.263 0-12.805-12.133-23.925-27.296-23.925z' fill='#ff8800')
							div
								p
									| Наши стандартные модели обеспечивают производительность до 130 000 м
									sup 3
									| /ч.
									br
									| Если вам нужно больше - 
									a(href='#feedback' onclick='feedbackForm()') отправьте заявку
									| , мы подберем для вас индивидуальное решение.
						.filter-form__info(data-val='0')
							svg(xmlns='http://www.w3.org/2000/svg' version='1.1' xlink='http://www.w3.org/1999/xlink' width='24' height='24' x='0' y='0' viewBox='0 0 512 512' style='enable-background:new 0 0 512 512' space='preserve')
								g
									path(d='M256 0C114.509 0 0 114.496 0 256c0 141.489 114.496 256 256 256 141.491 0 256-114.496 256-256C512 114.511 397.504 0 256 0zm0 476.279c-121.462 0-220.279-98.816-220.279-220.279S134.538 35.721 256 35.721 476.279 134.537 476.279 256 377.462 476.279 256 476.279z' fill='#ff8800')
									path(d='M256.006 213.397c-15.164 0-25.947 6.404-25.947 15.839v128.386c0 8.088 10.783 16.174 25.947 16.174 14.49 0 26.283-8.086 26.283-16.174V229.234c0-9.434-11.793-15.837-26.283-15.837zM256.006 134.208c-15.501 0-27.631 11.12-27.631 23.925 0 12.806 12.131 24.263 27.631 24.263 15.164 0 27.296-11.457 27.296-24.263 0-12.805-12.133-23.925-27.296-23.925z' fill='#ff8800')
							div
								p
									| К сожалению, мы не смогли подобрать подходящие варианты среди серийных моделей. Вы можете 
									a(href='#feedback' onclick='feedbackForm()') оставить заявку
									| , и мы предложим вам подходящее индивидуальное решение.
				.filter-result#filter-result
			//========================================
			h2 Модельный ряд перекрёстноточных рекуператоров
			.float-right-img
				img(src="./img/img-float2.webp", width="250" height="150" alt="img")
			p Длина и ширина стандартной грани (пластины) рекуператора = 1000 мм, 10 мм - сечение между пластинами рекуператора
			p l — ширина блока рекуператора, 1000 — 2500 мм
			p Диапазон рабочих температур: - 70 °С… + 90 °С

			//====TABLE====
			.scroll-horizontal
				table
					caption Характеристики моделей перекрёстноточных рекуператоров
					thead
						tr
							td l, мм
							td 1000
							td 1500
							td 2000
							td 2500
							td Сопр., Па
					tbody
						tr
							td
								| Расход
								br
								| при скорости потока 4 м/с
							td
								| 7200 м
								sup 3
								| /ч
								br
								| 2,376 кг/с
							td
								| 10800 м
								sup 3
								| /ч
								br
								| 3,564 кг/с
							td
								| 14400 м
								sup 3
								| /ч
								br
								| 4,752 кг/с
							td
								| 18000 м
								sup 3
								| /ч
								br
								| 5,940 кг/с
							td 150
						tr
							td
								| Расход
								br
								| при скорости потока 6 м/с
							td
								| 10800 м
								sup 3
								| /ч
								br
								| 3,564 кг/с
							td
								| 16200 м
								sup 3
								| /ч
								br
								| 5,346 кг/с
							td
								| 21600 м
								sup 3
								| /ч
								br
								| 7,128 кг/с
							td
								| 27000 м
								sup 3
								| /ч
								br
								| 8,910 кг/с
							td 200
						tr
							td
								| Расход
								br
								| при скорости потока 8 м/с
							td
								| 14400 м
								sup 3
								| /ч
								br
								| 4,752 кг/с
							td
								| 21600 м
								sup 3
								| /ч
								br
								| 7,128 кг/с
							td
								| 28800 м
								sup 3
								| /ч
								br
								| 9,500 кг/с
							td
								| 36000 м
								sup 3
								| /ч
								br
								| 11,880 кг/с
							td 250
						tr
							td Масса рекуператора, кг
							td 20
							td 30
							td 40
							td 50
							td
						tr
							td Артикул
							td PSV.RPX.1.100.100.1.7
							td PSV.RPX.1.100.150.1.11
							td PSV.RPX.1.100.200.1.15
							td PSV.RPX.1.100.250.1.18
							td

			//===============================
			h3 Варианты компоновки перекрёстноточных рекуператоров
			.d-grid-2
				.product-variants
					img(src="./img/model1.webp", alt="img")
					p Перекрёстноточный с выходом на четыре стороны
					
					img(src="./img/model2.webp", alt="img")
					p Перекрёстноточный с выходом на две стороны
					
					img(src="./img/model3.webp", alt="img")
					p Перекрёстноточный с последовательным набором блоков для увеличения мощности и КПД
				
				.product-variants
					img(src="./img/model4.webp", alt="img")
					p Перекрёстноточный сборный на 4 блока, для расхода свыше 30000 м
					
					img(src="./img/model5.webp", alt="img")
					p Перекрёстноточный сборный на 9 блоков, для большого расхода
			//==========================================		
			h2 Модельный ряд противоточных рекуператоров
			.float-right-img
				img(src="./img/img-float3.webp", width="250" height="150" alt="img")
			p В модельном ряду противоточных рекуператоров Тепловей 4 модели — от 500 м
			ul.flex-list
				li
					span 6мм
					span - сечение между пластинами рекуператора
				li
					span #[strong c]
					span – высота грани (пластины) рекуператора
				li
					span #[strong a]
					span – длина грани (пластины) рекуператора
				li
					span #[strong b]
					span – ширина блока рекуператора
				li
					span #[strong d]
					span – ширина сечения для входа / выхода потока
			//========TABLE=================
			.scroll-horizontal
				table
					caption Характеристики моделей противоточных рекуператоров
					thead
						tr
							td Артикул
							td V, м/с
							td
								| L, м
								sup 3
								| /ч
							td L, кг/с
							td a, мм
							td b, мм
							td c, мм
							td d , мм
							td m, кг
							td Сопр., Па
					tbody
						tr
							td(rowspan='3') PSV.RPL.80.30.33.06.1
							td 4
							td 540
							td 0,178
							td(rowspan='3') 800
							td(rowspan='3') 300
							td(rowspan='3') 330
							td(rowspan='3') 250
							td(rowspan='3') 13
							td 80
						tr
							td 6
							td 810
							td 0,267
							td 130
						tr
							td 8
							td 1080
							td 0,356
							td 200
						tr
							td(rowspan='3') PSV.RPL.120.60.55.06.4
							td 4
							td 1728
							td 0,570
							td(rowspan='3') 1200
							td(rowspan='3') 600
							td(rowspan='3') 550
							td(rowspan='3') 400
							td(rowspan='3') 30
							td 85
						tr
							td 6
							td 2592
							td 0,855
							td 130
						tr
							td 8
							td 3456
							td 1,140
							td 200
						tr
							td(rowspan='3') PSV.RPL.120.80.55.06.5
							td 4
							td 2304
							td 0,760
							td(rowspan='3') 1200
							td(rowspan='3') 800
							td(rowspan='3') 550
							td(rowspan='3') 400
							td(rowspan='3') 65
							td 80
						tr
							td 6
							td 3456
							td 1,140
							td 130
						tr
							td 8
							td 4608
							td 1,520
							td 200
						tr
							td(rowspan='3') PSV.RPL.160.120.55.06.10
							td 4
							td 4752
							td 1,570
							td(rowspan='3') 1600
							td(rowspan='3') 1200
							td(rowspan='3') 550
							td(rowspan='3') 550
							td(rowspan='3') 105
							td 90
						tr
							td 6
							td 7128
							td 2,350
							td 135
						tr
							td 8
							td 9504
							td 3,140
							td 205

			//========END TABLE=================
			p Все модели исполнены в корпусе с каркасом и панелями из оцинкованной стали.

			p Модель PSV.RPL.80.30.33.06.1 оснащена в базовой комплектации отводами для присоединения воздуховодов круглого сечения 150 мм, 200 мм или 250 мм.
			p Остальные модели в базовой комплектации оснащены шинрейками для подключения к сети воздуховодов.
			
			//===button===
			a.accent-btn(href="#!" ) 
				svg.svg-check
					use(href='./img/sprite.svg#svg-check')
				span Запросиь опросный лист на расчет онлайн

			p Смотрите весь #[a.accent-link(href="#!") модельный ряд рекуператоров Тепловей]

			//================================
			h2 Применение рекуператора в системах вентиляции
			h3 Схемы работы рекуператора
			.d-grid-2
				.scheme-item
					h4 Перекрёстноточный блок рекуператора
					p Установка с двухмодульным перекрёстноточным полимерным рекуператором
					a(href="#!")
						img(src="./img/scheme1.webp",width="530" height="300" alt="img")
				.scheme-item
					h4 Противоточный блок рекуператора
					p Установка с одномодульным противоточным полимерным рекуператором
					a(href="#!")
						img(src="./img/scheme2.webp",width="530" height="300" alt="img")
			//=======================================
			h3 Использование рекуператора в составе вентиляционной установки
			.float-right-img
				img(src="./img/recuperator.webp", width="380" height="254" alt="img")
			p Вентиляционные установки с рекуперацией в Челябинске проектируются и изготавливаются под конкретные параметры объекта и позволяют вентилировать и обогревать помещения с функцией рекуперации тепла и очистки воздуха. Секции рекуперации могут устанавливаться в простую вытяжную вентиляции или в вентиляционную установку с #[strong дополнительными модулями], такими как:
			
			ul.decore-list
				li Нагрев воздуха. Рекуператор с дополнительным подогревом входящего воздуха потребляет значительно меньше энергии на отопление.
				li Охлаждение (кондиционирование)
				li Осушение или увлажнение
				li чистка и фильтрация
				li Шумоподавление
				li Автоматика и мониторинг

			//======================================
			h2 Фото наших рекуператоров
			.d-grid-6.product-gallery
				a(href="./img/r1.webp" data-fancybox="gallery")
					img(src="./img/r1.webp",width="175" height="175" alt="img")
				a(href="./img/r2.webp" data-fancybox="gallery")
					img(src="./img/r2.webp",width="175" height="175" alt="img")
				a(href="./img/r3.webp" data-fancybox="gallery")
					img(src="./img/r3.webp",width="175" height="175" alt="img")
				a(href="./img/r4.webp" data-fancybox="gallery")
					img(src="./img/r4.webp",width="175" height="175" alt="img")
				a(href="./img/r5.webp" data-fancybox="gallery")
					img(src="./img/r5.webp",width="175" height="175" alt="img")
				a(href="./img/r6.webp" data-fancybox="gallery")
					img(src="./img/r6.webp",width="175" height="175" alt="img")
				a(href="./img/r7.webp" data-fancybox="gallery")
					img(src="./img/r7.webp",width="175" height="175" alt="img")
				a(href="./img/r8.webp" data-fancybox="gallery")
					img(src="./img/r8.webp",width="175" height="175" alt="img")
				a(href="./img/r9.webp" data-fancybox="gallery")
					img(src="./img/r9.webp",width="175" height="175" alt="img")
				a(href="./img/r10.webp" data-fancybox="gallery")
					img(src="./img/r10.webp",width="175" height="175" alt="img")
				a(href="./img/r11.webp" data-fancybox="gallery")
					img(src="./img/r11.webp",width="175" height="175" alt="img")
				a(href="./img/r12.webp" data-fancybox="gallery")
					img(src="./img/r12.webp",width="175" height="175" alt="img")

			//======================================
			h2 Выполненные проекты
			.d-grid-4
				+product-card('proj1', 'Сушильный цех с рекуператором', 'Цех работает уже более 2х лет и рекуператор снижает мощность на нагрев не менее, чем вдвое')
				+product-card('proj2', 'Рекуператор для макаронного цеха', 'Рекуператор работает с температурой до 70° С и высоким влагосодержанием')
				+product-card('proj3', 'ПВУ с рекуперацией для пиццерии', 'Система вентиляции с канальным рекуператором производительностью 3500 м3/час')
				+product-card('proj4', 'ПВУ с рекуперацией для Алвид', 'Смонтирована приточно-вытяжная установка с рекуперацией на 65000 м3/час и блоком нагрева на 580 кВт')
					
			.mt-20
				a(href="#!").arrow-link
					span.accent-link Все выполненные проекты
					svg.svg-arrow-right
						use(href='./img/sprite.svg#svg-arrow-right')
			//======================================
			h2 О нас
			p НПО Тепловей основано более 25 лет назад и наше производство находится в Челябинске. Мы делаем работы "под ключ" — проектирование, производство, монтаж и обслуживание систем бытового и промышленного воздушного отопления и вентиляции... #[a.accent-link(href="#!") читать далее о НПО Тепловей]

			p Мы серьёзно относимся к качеству нашей продукции. Наше производство сертифицировано ISO-9001 «TUV ZUD Manadgement Servise GmbH» → #[a.accent-link(href="#!") о контроле качества]
			//======================================
			h2 Наши преимущества
			.benefits-grid.d-grid-7
				.grid-col-4.column-centered
					.benefits-item
						.icon-wrapper
							svg.svg-calendar
								use(href='./img/sprites/regular.svg#calendar-check')
						.title-29 Опыт с 1995 года
				.grid-col-4.column-centered
					.benefits-item
						.icon-wrapper
							svg.svg-medal
								use(href='./img/sprites/solid.svg#medal')
						.title-29 Даем гарантию
				.grid-col-4.column-centered
					.benefits-item
						.icon-wrapper
							svg.svg-clock
								use(href='./img/sprites/regular.svg#clock')
						.title-29 Короткий срок поставки
				.grid-col-3.column-centered
					.benefits-item
						.icon-wrapper
							svg.svg-industry
								use(href='./img/sprites/solid.svg#industry')
						.title-29 Свое производство
						p От воздуховодов до сложного оборудования
				.grid-col-3.column-centered
					.benefits-item
						.icon-wrapper
							svg.svg-map-pin
								use(href='./img/sprites/solid.svg#map-pin')
						.title-29 Рядом с Вами
						p Сеть дилеров во многих городах России и СНГ
				.grid-col-3.column-centered
					.benefits-item
						.icon-wrapper
							svg.svg-thumbs-up
								use(href='./img/sprites/solid.svg#thumbs-up')
						.title-29 Полный цикл работ
						p От проектирования до монтажа и пуско-наладки
				.grid-col-3.column-centered
					.benefits-item
						.icon-wrapper
							svg.svg-wrench
								use(href='./img/sprites/solid.svg#wrench')
						.title-29 Своя сервисная служба
						p Реагируем быстро. Запчасти в наличии

			//==================================
			h2 Полный цикл производства и обслуживания
			.d-grid-4
				.product-card
					.title-29 Проектирование
					.product-card__img
						img(src="./img/01prj.webp", width="300" height="170" alt="img")
					.product-card__txt
						p Спроектируем новые или #[a.accent-link(href="#!") модернизируем существующие системы вентиляции] и рассчитаем срок окупаемости рекуператора
						a.accent-link(href="#!") Подробнее о проектировании
				.product-card
					.title-29 Производство
					.product-card__img
						img(src="./img/02prj.webp", width="300" height="170" alt="img")
					.product-card__txt
						p Произведем блоки рекуперации тепла в точности соответствующие требованиям проекта
						a.accent-link(href="#!") Подробнее о производстве
				.product-card
					.title-29 Монтаж и наладка
					.product-card__img
						img(src="./img/03prj.webp", width="300" height="170" alt="img")
					.product-card__txt
						p Смонтируем систему вентиляции, рекуператор и выполним пуско-наладочные испытания
						a.accent-link(href="#!") Подробнее о монтаже и пуско-наладке
				.product-card
					.title-29 Обслуживание
					.product-card__img
						img(src="./img/04prj.webp", width="300" height="170" alt="img")
					.product-card__txt
						p Произведем обслуживание систем вентиляции и рекуператоров
						a.accent-link(href="#!") Подробнее об обслуживании

			//==================================
			h2 Проектировщикам
			.d-grid-3
				//==== внутри  .column-centered контент по горизонтали по центру
				.column-centered
					.benefits-item
						.icon-wrapper
							svg.svg-folder
								use(href='./img/sprites/solid.svg#folder')
						.title-29 Промо-материалы
				.column-centered
					.benefits-item
						.icon-wrapper
							svg.svg-book
								use(href='./img/sprites/solid.svg#book')
						.title-29 Техническая документация
				.column-centered
					.benefits-item
						.icon-wrapper
							svg.svg-circle-question
								use(href='./img/sprites/solid.svg#circle-question')
						.title-29 Консультации

			.mt-20
				p Контакты для проектировщиков → #[a.accent-link(href="tel:+73512200531")] +7 (351) 220-05-31, #[a.accent-link(href="mailto:telpo@teplovey.ru") telpo@teplovey.ru], #[a.accent-link(href="#!") Отправить сообщение]
section.faq-section
	.container
		h2 Часто задаваемые вопросы
		ul.faq.decore-list(itemscope itemtype='https://schema.org/FAQPage')
			li.faq-entity(itemscope itemprop='mainEntity' itemtype='https://schema.org/Question')
				span.faq-question(itemprop='name') Насколько полимерные рекуператоры пожароопасны?
				.faq-response(itemscope itemprop='acceptedAnswer' itemtype='https://schema.org/Answer')
					div(itemprop='text')
						p Наши рекуператоры соответствуют классу горючести Г1
					span.faq-click-question Закрыть
			li.faq-entity(itemscope itemprop='mainEntity' itemtype='https://schema.org/Question')
				span.faq-question(itemprop='name') Как полимерный рекуператор реагирует на отрицательные температуры и обмерзание?
				.faq-response(itemscope itemprop='acceptedAnswer' itemtype='https://schema.org/Answer')
					div(itemprop='text')
						p Полимерный рекуператор не боится обмерзания. При замёрзании компоненты рекуператора не разрушаются и полностью восстанавливаются при оттаивании. И даже при замёрзании продолжает работать.
						p Поверхностная энергия ПЭТ-плёнки в 29 раз меньше поверхностной энергии алюминия, поэтому у ПЭТ плёнки кратно меньше адгезия капель воды. Если образуется конденсат, то он собирается в капли на ПЭТ-плёнке, а не образует пленку, как, например, на металле.
						p.
							Намерзшие на поверхности капельки льда скатываются с поверхности рекуператора за счёт вибрации от воздушного потока.
					span.faq-click-question Закрыть
			
			li.faq-entity(itemscope itemprop='mainEntity' itemtype='https://schema.org/Question')
				span.faq-question(itemprop='name') Можно ли применять такие рекуператоры на пищевых производствах?
				.faq-response(itemscope itemprop='acceptedAnswer' itemtype='https://schema.org/Answer')
					div(itemprop='text')
						p Наши рекуператоры применимы и применяются на пищевых производствах, используются для рекуперации тепла дымовых газов. Потоки в наших рекуператорах не смешиваются, передачи влаги или загрязнений не происходит.
						p Поверхностная энергия ПЭТ-плёнки в 29 раз меньше поверхностной энергии алюминия, поэтому у ПЭТ плёнки кратно меньше адгезия загрязняющих веществ. Его можно применять на производствах с едкими кислотными испарениями, например, на предприятиях металлургии, химической промышленности, птичниках, животноводческих фермах, медицинских производствах, производствах изделий из металлов.
						p Смотрите наши объекты в разделе #[a(href='/cases/') Выполненные проекты]
					span.faq-click-question Закрыть
			
			li.faq-entity(itemscope itemprop='mainEntity' itemtype='https://schema.org/Question')
				span.faq-question(itemprop='name') Какой эффективности могут достигать такие рекуператоры?
				.faq-response(itemscope itemprop='acceptedAnswer' itemtype='https://schema.org/Answer')
					div(itemprop='text')
						p Практически достигнутый и измеренный нами показатель эффективности в реальных условиях — более 60%!
						p Это очень хороший показатель. Если производитель заявляет эффективность, например, 90%, то этот показатель практически не достижим даже в идеальных условиях в лаборатории. На реальных объектах такой эффективности не получить.
						p Регулируемая вибрация плёнки в полимерном рекуператоре позволяет получать оптимальный коэффициент теплопередачи за счёт разрушения пристенного ламинарного слоя воздушного потока и его турбулизации.
							
					span.faq-click-question Закрыть
			li.faq-entity(itemscope itemprop='mainEntity' itemtype='https://schema.org/Question')
				span.faq-question(itemprop='name') Где производятся полимерные рекуператоры?
				.faq-response(itemscope itemprop='acceptedAnswer' itemtype='https://schema.org/Answer')
					div(itemprop='text')
						p Полимерные рекуператоры и вентиляционные установки производятся в Челябинске на собственном производстве НПО Тепловей.
						p Мы - производитель систем промышленной вентиляции и воздушного отопления с 1995 года. 
							a(href='/about/') Подробнее о нас
							|  и 
							a(href='/products/') нашей продукции
							| .

					span.faq-click-question Закрыть
			li.faq-entity(itemscope itemprop='mainEntity' itemtype='https://schema.org/Question')
				span.faq-question(itemprop='name') Как расшифровать артикул рекуператора производства НПО Тепловей
				.faq-response(itemscope itemprop='acceptedAnswer' itemtype='https://schema.org/Answer')
					div(itemprop='text')
						p.
							В артикуле рекуператоров производства НПО Тепловей зашифрованы его характеристики и особенности конструкции.
							
						p.
							
							Пример артикула нашего рекуператора: PSV.RPX.1.30.50.06.2
							
						p.
							
							Для расшифровки воспользуйтесь 
							a(href='https://teplovey.ru/reviews/artikul-rekup/') нашей инструкцией
					span.faq-click-question Закрыть