section.promo
	.container
		.promo-content.grid-aside-left
			.promo-img
				a(href="#!").img-over
					img.lazy(src="./img/promo.webp", width="580" height="420" alt="img")
			.promo-title
				h1.h1
					span.txt-25 НПО Тепловей — отечественный производитель
					span cистем воздушного отопления, вентиляции<br>и полимерных рекуператоров
				.promo-subtitle  для производственных цехов, административно-бытовых помещений, а также жилых зданий в Челябинске

