section.product-description
	.container
		p Полимерный рекуператор тепла вентиляционных выбросов – это конструкция из блока рекуперации и корпуса для рекуперации тепла вентиляционных выбросов. Блок рекуперации — это теплообменник «воздух-воздух» пластинчатого (мембранного) типа собранный из полимерной (PET или ПЭТ пленки) мембраны и каркаса из пластикового или алюминиевого профиля. Может выполняться в виде отдельного блока или секцией в составе вентиляционной установки или в канальном исполнении. Чаще всего, рекуператор на вытяжную вентиляцию в Челябинске устанавливается в составе приточной-вытяжной установки.
		.product-characteristics.d-grid-4.mt-30
			.grid-column.txt-center
				p.title-29 Производительность
				p.txt-30 600 — 130 000
					span м#[sup 3]/час
			.grid-column.txt-center
				p.title-29 Температура среды
				p.txt-30 от -40 до 180°
					span и более (с подмесом)
			.grid-column.txt-center
				p.title-29 Срок окупаемости
				p.txt-30 1 — 6
					span лет
			.grid-column.txt-center
				p.title-29 Гарантированный КПД
				p.txt-30 до 60+%
					span в реальных условиях
		.custom-text
			h2.roboto-accent Преимущества полимерных рекуператоров
			.float-right-img
				img(src="./img/img-float.webp", width="415" height="330" alt="img")
				p Благодаря особенностям конструкции полимерный теплообменник имеет существенные преимущества перед рекуператорами из других материалов.
			
			ul.decore-list
				li
					p.title-18 Полное разделение потоков
					p Свежий и отработанный воздух не смешиваются. Также нет передачи влаги.
				li
					p.title-18 Устойчив к большинству кислот
					p Промышленные рекуператоры можно применять на производствах с едкими кислотными испарениями, например, на предприятиях химической промышленности, птичниках, животноводческих фермах.
				li
					p.title-18 Не обмерзает
					p Полимерный мембранный рекуператор не боится обмерзания при низких температурах приточного воздуха за счёт капельного обмёрзания у ПЭТ-плёнки, а не плёночного, как у алюминия. Поэтому намерзшие на поверхности капельки льда скалываются с поверхности рекуператора за счёт вибрации.
				li
					p.title-18 Высокий КПД
					p Регулируемая вибрация плёнки позволяет получать оптимальный коэффициент теплопередачи за счёт разрушения пристенного ламинарного слоя воздушного потока и его турбулизации.
				li
					p.title-18 Преимущество в цене
					p Во многих случаях дешевле металлических аналогов.
				li
					p.title-18 Большой срок службы
					p Срок службы не менее 10 лет.
				li
					p.title-18 Большая гарантия
					p Гарантийный срок эксплуатации в пределах 3 лет, при условии правильного проектирования, подбора и монтажа.
				li
					p.title-18 Удобно монтировать и обслуживать
					p Конструкция рекуператора и его малый вес определяют удобство в его обслуживании и ремонте. Канальный рекуператор может встроен в существующую систему вентиляции без значительных доработок.
				li
					p.title-18 Устойчивость к загрязнению
					p Поверхностная энергия ПЭТ-плёнки в 29 раз меньше поверхностной энергии алюминия → адгезия загрязняющих веществ, как твёрдых (например, пыль), так и жидких (капли, конденсат) будет у ПЭТ плёнки кратно меньше.