section.quality.has-overlay
	.container
		.overlay
		.quality-content.grid-aside-right
			.custom-text
				h4 Главное достижение в сфере обеспечения качества – создание на предприятии полноценной службы качества.
				p Подтверждение этому — получение сертификата системы менеджмента качества на соответствие требованиям ISO-9001 выданного немецким органом «TUV ZUD Manadgement Servise GmbH», а также награды и дипломы полученные предприятием.

				p Под контролем службы качества находятся все производственные процессы и процессы менеджмента. Специалисты службы прошли обучение по специальностям и имеют сертификаты подтверждающие квалификацию. Служба качества подчиняется непосредственно Генеральному директору и не зависит от других подразделений.

				h3 Направления и задачи службы качества:
				h4 Система менеджмента качества
				p обеспечение проведения внешних аудитов, проведение внутренних аудитов, сбор, систематизация информации и предоставление высшему руководству для анализа и принятия решений.

				h5 Проведение сертификации
				p Организация проведения сертификации готовой продукции лицензированными организациями для подтверждения соответствия продукции требованиям нормативных документов Таможенного Союза.


				h5 Работа с поставщиками:
				p Каждый новый поставщик оценивается по интересующим предприятие критериям. При необходимости осуществляется выезд к поставщику для подтверждения его надежности. Только после этого он может быть занесен в список поставщиков с отметкой о его надежности. Определен уровень выявления допустимого процента брака для каждого поставщика. При его превышении, работа с поставщиком прекращается.

				h5 Работа с потребителями:
				p Каждый потребитель может обратится к любому специалисту предприятия удобным для него способом не зависимо от наличия гарантийных обязательств на изделие. Вся информация собирается и регистрируется в службе качества. С потребителем обязательно выйдут на связь для уточнение проблемы и проведения консультации. При необходимости будет осуществлен выезд специалистов к потребителю в любой регион. В случае выявления дефекта производства или брака закупленных комплектующих, все работы по восстановлению работоспособности будут выполнены бесплатно и в кратчайшие сроки.

				p Ежегодно специалистами специализированной консалтинговой организации проводится опрос удовлетворенности потребителей, где каждый потребитель может дать объективную оценку качеству продукции, ее цене и работе специалистов. Полученная информация анализируется руководством для улучшения качества продукции и обслуживания.

				p Полученная статистика показывает, что удовлетворенность потребителей никогда не опускалась ниже 93%, причем непосредственно количество дефектов производства составляет не более 2% от общего количества изделий.

				h4 Подразделение контроля качества продукции и технологических процессов обеспечивает:
				h5 Входной контроль закупаемой продукции
				p проверка сопроводительной документации, замеры и испытания продукции по разработанной программе, отправка образцов металлопродукции в сертифицированную лабораторию и сверка результатов анализа.

				h5 Контроль выполнения технологических процессов
				p на соответствие разработанным технологическим инструкциям.

				h5 Операционный контроль продукции
				p на соответствие чертежам на всех этапах производства. Без заключения контролера качества о приемке заготовка не может быть передана на следующий участок.

				h5 Окончательный прием готовой продукции и проведение испытаний:
				p Перед подключением проверяется соответствие продукции и ее комплектность требованиям заказчика, целостность и номер цвета лакокрасочного покрытия.

				p Вся воздухонагреватели проходят полный цикл испытаний не менее двух часов в комплекте с заказанными горелками. В процессе испытаний проверяется герметичность топливной системы, алгоритм работы системы автоматики управления и безопасности, работа изделия на всех режимах. В результате, заказчик получает готовый к работе комплект, прошедший заводские режимные испытания.

				p Параметры работы изделия заносятся в приемо-сдаточный акт. После сверки результатов испытаний с требованиями заказчика, контролер делает заключение о соответствии продукции. Заказчик получает заверенный акт с указанием характеристик изделия.

				p Забракованная продукция, выявленная на всех этапах, изолируется. Решение о дальнейших действиях с ней принимается на техническом совете.

				h3 Метрологическое обеспечение
				p Для обеспечения качества продукции при изготовлении и проведении контрольных операций, предприятие имеют большую базу мерительного инструмента и приборов. Контроль за их состоянием и соблюдением сроков межповерочных интервалов осуществляет метролог предприятия.

				p Поверка осуществляется согласно утвержденного графика. Инструменты и приборы маркированы с указанием срока следующей поверки. Забракованный мерительный инструмент отправляется в ремонт или списывается.
			.quality-img
				p
					img(src="./img/quality1.webp", width="300" alt="img")
				p
					img(src="./img/quality2.webp", width="300" alt="img")
				p
					img(src="./img/quality3.webp", width="300" alt="img")
				p
					img(src="./img/quality4.webp", width="300" alt="img")
				p
					img(src="./img/quality5.webp", width="300" alt="img")
				p
					img(src="./img/quality6.webp", width="300" alt="img")
			