section.single-product.custom-text
	.container
		ul.breadcrumbs.bg-light
			li
				a(href="index.html") Главная
			li
				a(href="#!") Продукция
			li
				a(href="#!") Рекуператор PSV.RPX.9.100.150.1.11
		.single-product-info.grid-aside-left
			.single-product__img
				img(src="./img/model4.webp", width="380" height="242" alt="img")
			.single-product__desc
				h1 Противоточный рекуператор PSV.RPX.9.100.150.1.11
				ul
					li Артикул: #[strong PSV.RPX.9.100.150.1.11]
					li Тип: #[strong Перекрестноточный]
					li Компоновка: #[strong Сборный на 9 блоков]
				.single-product__table
					table
						caption Характеристики рекуператора PSV.RPX.9.100.150.1.11
						thead
							tr
								td Скорость потока
								td Максимальный расход
						tbody
							tr
								td 4 м/с
								td
									| 32400 м
									sup 3
									| /час
							tr
								td 6 м/с
								td
									| 48600 м
									sup 3
									| /час
							tr
								td 8 м/с
								td
									| 64800 м
									sup 3
									| /час
				.mt-30
					p Цена: #[strong по запросу]
				.flex-row.buttons-row
					a(href="#!").blue-btn Быстрая заявка
					a(href="#!").accent-btn
						svg.svg-check
							use(href='./img/sprite.svg#svg-check')
						span Заполнить опросный лист на расчет
		//==========================================
		h2 Описание
		p НПО Тепловей — производитель собственной линейки полимерных рекуператоров. В нашем модельном ряду есть рекуператоры производительностью от 500 до 130000 м3/час.

		p Рекуператор PSV.RPX.9.100.150.1.11 (#[a(href="#!") как расшифровать артикул рекуператора?]) обеспечивает производительность от 32400 до 64800 м3/час взависимости от расчетной скорости потока.

		a(href="#!").accent-link Подробнее про рекуператоры от НПО Тепловей

		h3 Компоновка
		p Блок рекуперации PSV.RPX.9.100.150.1.11 состоит из 9ти стандартных рекуператоров PSV.RPX.1.100.150.1.11 для увеличения производительности. Такой подход позволяет увеличить производительность в 3 раза.

		h3 Тип рекуператора
		p Рекуператор PSV.RPX.9.100.150.1.11 — перекрестноточный, приточные и вытяжные потоки движутся в рекуператорах под углом 90 градусов. Такие рекуператоры изготавливаются в бескорпусном варианте для встраивания в ПВУ.
		
		h3 Рекуператор в составе вентиляционной установки
		
		.grid-aside-right.single-product__row
			.custom-text__block
				p Мы производим не только рекуператоры, но и готовые приточно-вытяжные установки с рекуперацией для домов, квартир, производственных прцессов и помещений любого назначения.

				p Для увеличения КПД рекуперации, в составе вентиляционной установки можно смонтировать 2 и более блоков рекуперации один за одним.

				p ПВУ(приточно-вытяжная установка) с рекуперацией рассчитывается и производится в зависимости от требуемых параметров и особенностей воздухообмена помещения. Кроме блока рекуперации также могут оснащаться различными дополнительными модулями:
				ul.decore-list
					li Нагрева или кондиционирования воздуха
					li Модулем осушения или увлажнения
					li Блоками фильтрации для очистки поступающего воздуха
					li Шумоподавлением
					li Автоматикой и системами мониторинга
			
			.custom-text__img
				img(src="./img/single-product.webp", width="1024" height="576" alt="img")

		//==============================
		h2 Другие модели рекуператоров
		
		a(href="#!").decore-link Весь модельный ряд рекуператоров Тепловей
		
		//======================================
		h2 Фото наших рекуператоров
		.d-grid-6.product-gallery
			a(href="./img/r1.webp" data-fancybox="gallery")
				img(src="./img/r1.webp",width="175" height="175" alt="img")
			a(href="./img/r2.webp" data-fancybox="gallery")
				img(src="./img/r2.webp",width="175" height="175" alt="img")
			a(href="./img/r3.webp" data-fancybox="gallery")
				img(src="./img/r3.webp",width="175" height="175" alt="img")
			a(href="./img/r4.webp" data-fancybox="gallery")
				img(src="./img/r4.webp",width="175" height="175" alt="img")
			a(href="./img/r5.webp" data-fancybox="gallery")
				img(src="./img/r5.webp",width="175" height="175" alt="img")
			a(href="./img/r6.webp" data-fancybox="gallery")
				img(src="./img/r6.webp",width="175" height="175" alt="img")
			a(href="./img/r7.webp" data-fancybox="gallery")
				img(src="./img/r7.webp",width="175" height="175" alt="img")
			a(href="./img/r8.webp" data-fancybox="gallery")
				img(src="./img/r8.webp",width="175" height="175" alt="img")
			a(href="./img/r9.webp" data-fancybox="gallery")
				img(src="./img/r9.webp",width="175" height="175" alt="img")
			a(href="./img/r10.webp" data-fancybox="gallery")
				img(src="./img/r10.webp",width="175" height="175" alt="img")
			a(href="./img/r11.webp" data-fancybox="gallery")
				img(src="./img/r11.webp",width="175" height="175" alt="img")
			a(href="./img/r12.webp" data-fancybox="gallery")
				img(src="./img/r12.webp",width="175" height="175" alt="img")

		//===========БЛОК  Выполненные проекты============
		h2 Выполненные проекты
		.d-grid-4
			+product-card('proj1', 'Сушильный цех с рекуператором', 'Цех работает уже более 2х лет и рекуператор снижает мощность на нагрев не менее, чем вдвое')
			+product-card('proj2', 'Рекуператор для макаронного цеха', 'Рекуператор работает с температурой до 70° С и высоким влагосодержанием')
			+product-card('proj3', 'ПВУ с рекуперацией для пиццерии', 'Система вентиляции с канальным рекуператором производительностью 3500 м3/час')
			+product-card('proj4', 'ПВУ с рекуперацией для Алвид', 'Смонтирована приточно-вытяжная установка с рекуперацией на 65000 м3/час и блоком нагрева на 580 кВт')
				
		.mt-20
			a(href="#!").arrow-link
				span.accent-link Все выполненные проекты
				svg.svg-arrow-right
					use(href='./img/sprite.svg#svg-arrow-right')
		
		//============О нас=====================
		h2 О нас
		p НПО Тепловей основано более 25 лет назад и наше производство находится в Челябинске. Мы делаем работы "под ключ" — проектирование, производство, монтаж и обслуживание систем бытового и промышленного воздушного отопления и вентиляции... #[a.accent-link(href="#!") читать далее о НПО Тепловей]

		p Мы серьёзно относимся к качеству нашей продукции. Наше производство сертифицировано ISO-9001 «TUV ZUD Manadgement Servise GmbH» → #[a.accent-link(href="#!") о контроле качества]

		//=======вопросы=======
		h2 Часто задаваемые вопросы
		ul.faq.decore-list(itemscope itemtype='https://schema.org/FAQPage')
			li.faq-entity(itemscope itemprop='mainEntity' itemtype='https://schema.org/Question')
				span.faq-question(itemprop='name') Насколько полимерные рекуператоры пожароопасны?
				.faq-response(itemscope itemprop='acceptedAnswer' itemtype='https://schema.org/Answer')
					div(itemprop='text')
						p Наши рекуператоры соответствуют классу горючести Г1
					span.faq-click-question Закрыть
			li.faq-entity(itemscope itemprop='mainEntity' itemtype='https://schema.org/Question')
				span.faq-question(itemprop='name') Как полимерный рекуператор реагирует на отрицательные температуры и обмерзание?
				.faq-response(itemscope itemprop='acceptedAnswer' itemtype='https://schema.org/Answer')
					div(itemprop='text')
						p Полимерный рекуператор не боится обмерзания. При замёрзании компоненты рекуператора не разрушаются и полностью восстанавливаются при оттаивании. И даже при замёрзании продолжает работать.
						p Поверхностная энергия ПЭТ-плёнки в 29 раз меньше поверхностной энергии алюминия, поэтому у ПЭТ плёнки кратно меньше адгезия капель воды. Если образуется конденсат, то он собирается в капли на ПЭТ-плёнке, а не образует пленку, как, например, на металле.
						p.
							Намерзшие на поверхности капельки льда скатываются с поверхности рекуператора за счёт вибрации от воздушного потока.
					span.faq-click-question Закрыть
			
			li.faq-entity(itemscope itemprop='mainEntity' itemtype='https://schema.org/Question')
				span.faq-question(itemprop='name') Можно ли применять такие рекуператоры на пищевых производствах?
				.faq-response(itemscope itemprop='acceptedAnswer' itemtype='https://schema.org/Answer')
					div(itemprop='text')
						p Наши рекуператоры применимы и применяются на пищевых производствах, используются для рекуперации тепла дымовых газов. Потоки в наших рекуператорах не смешиваются, передачи влаги или загрязнений не происходит.
						p Поверхностная энергия ПЭТ-плёнки в 29 раз меньше поверхностной энергии алюминия, поэтому у ПЭТ плёнки кратно меньше адгезия загрязняющих веществ. Его можно применять на производствах с едкими кислотными испарениями, например, на предприятиях металлургии, химической промышленности, птичниках, животноводческих фермах, медицинских производствах, производствах изделий из металлов.
						p Смотрите наши объекты в разделе #[a(href='/cases/') Выполненные проекты]
					span.faq-click-question Закрыть
			
			li.faq-entity(itemscope itemprop='mainEntity' itemtype='https://schema.org/Question')
				span.faq-question(itemprop='name') Какой эффективности могут достигать такие рекуператоры?
				.faq-response(itemscope itemprop='acceptedAnswer' itemtype='https://schema.org/Answer')
					div(itemprop='text')
						p Практически достигнутый и измеренный нами показатель эффективности в реальных условиях — более 60%!
						p Это очень хороший показатель. Если производитель заявляет эффективность, например, 90%, то этот показатель практически не достижим даже в идеальных условиях в лаборатории. На реальных объектах такой эффективности не получить.
						p Регулируемая вибрация плёнки в полимерном рекуператоре позволяет получать оптимальный коэффициент теплопередачи за счёт разрушения пристенного ламинарного слоя воздушного потока и его турбулизации.
							
					span.faq-click-question Закрыть
			li.faq-entity(itemscope itemprop='mainEntity' itemtype='https://schema.org/Question')
				span.faq-question(itemprop='name') Где производятся полимерные рекуператоры?
				.faq-response(itemscope itemprop='acceptedAnswer' itemtype='https://schema.org/Answer')
					div(itemprop='text')
						p Полимерные рекуператоры и вентиляционные установки производятся в Челябинске на собственном производстве НПО Тепловей.
						p Мы - производитель систем промышленной вентиляции и воздушного отопления с 1995 года. 
							a(href='/about/') Подробнее о нас
							|  и 
							a(href='/products/') нашей продукции
							| .

					span.faq-click-question Закрыть
			li.faq-entity(itemscope itemprop='mainEntity' itemtype='https://schema.org/Question')
				span.faq-question(itemprop='name') Как расшифровать артикул рекуператора производства НПО Тепловей
				.faq-response(itemscope itemprop='acceptedAnswer' itemtype='https://schema.org/Answer')
					div(itemprop='text')
						p.
							В артикуле рекуператоров производства НПО Тепловей зашифрованы его характеристики и особенности конструкции.
							
						p.
							
							Пример артикула нашего рекуператора: PSV.RPX.1.30.50.06.2
							
						p.
							Для расшифровки воспользуйтесь 
							a(href='https://teplovey.ru/reviews/artikul-rekup/') нашей инструкцией
					span.faq-click-question Закрыть
//=======contacts cards ======
section.inner-contacts
	.container
		//===contacts cards =====
		.contacts-cards.d-grid-2
			//======contacts-card======
			.contacts-card.contacts-specialist
				.contacts-specialist__icon
					svg.svg-circle-question
						use(href='./img/sprites/solid.svg#circle-question')
				.contacts-card__title Задайте вопрос специалисту
				.contacts-specialist__name
					p
						strong Давыдов Илья Сергеевич
						span ведущий инженер проектов
				ul.flex-list
					li
						span email
						a(href="mailto:tochka_ros@bk.ru").accent-link tochka_ros@bk.ru
					li
						span Телефон:
						a(href="tel:+73512200530").accent-link tochka_ros@bk.ru +7 (351) 220-05-30
				a(href="#!").accent-link Отправить заявку на рекуператор
				.contacts-card__btn
					a.accent-btn(href="#!" ) 
						svg.svg-check
							use(href='./img/sprite.svg#svg-check')
						span Заполнить опросный лист на расчет онлайн
			//======contacts-card======
			.contacts-card
				.contacts-card__title Как купить
				
				ul.decore-list
					li Заказать напрямую в НПО Тепловей
					li Обратиться к дилерам
				.mt-10
					p Наше производство расположено в Челябинске, но купить рекуператор воздуха от НПО Тепловей Вы можете у наших дилеров в #[a.accent-link(href="#!") Москве], #[a.accent-link(href="#!") Санкт-Петербурге], #[a.accent-link(href="#!") Екатеринбурге],  #[a.accent-link(href="#!") Краснодаре], #[a.accent-link(href="#!") Нижнем Новгороде], #[a.accent-link(href="#!") Омске], #[a.accent-link(href="#!") Перми], #[a.accent-link(href="#!") Новосибирске], #[a.accent-link(href="#!") Самаре], #[a.accent-link(href="#!") Уфе] и других городах.