section.product-description.has-overlay.custom-text
	.container
		.overlay
		.product-description__row.d-grid-2
			p
				img(src="./img/vozd1.webp", width="537" height="230" alt="img")
			.custom-text__block
				h2 Область применения
				p Данное оборудование с успехом применяется на открытых площадках для обогрева стоянок техники, различного типа оборудования, в процессах технологической сушки и в приточных вентиляционных системах.

				p Модель Т-450С предназначена для эксплуатации на открытых площадках при температуре окружающего воздуха до –60°С (климатическое исполнение класса УХЛ1).
			
		.product-description__row.d-grid-2
			.custom-text__block.simple-list
				h2 Общие особенности:
				ul
					li Продукты горения смешиваются с нагреваемым воздухом.
					li Применяются вентиляторы обычного или жаростойкого исполнения.
					li Встроенный блок автоматики.
					li Для наружной облицовки используется оцинкованная листовая сталь с полимерным покрытием.
					li Возможно перемещение с одного объекта на другой и использование в качестве временной отопительной установки.
			p
				img(src="./img/vozd2.webp", width="450" height="220" alt="img")
		.product-description__row.d-grid-2
			.custom-text__block.simple-list
				p Компания НПО «Тепловей» производит воздухонагреватели прямого нагрева воздуха (смесительного типа), теплопроизводительностью 170 — 2000 кВт, с автоматической блочной горелкой.
				h2 Особенности наших нагревателей
								
				ul
					li Возможно исполнение для наружного размещения (без отдельного помещения).
					li Работа на приточном воздухе.
					li При установке внутри помещения обеспечить достаточный приток воздуха.
					li Выпускаются в горизонтальном исполнении.
			p
				img(src="./img/vozd3.webp", width="450" height="220" alt="img")
		.product-description__row.simple-list
			h2 Дополнительная информация
			ul
				li Возможна окраска корпуса и облицовочных панелей в любой цвет.
				li Возможен подвод газа (дизельного топлива) с левой или правой стороны.
				li Воздухонагреватели наружного размещения с дизельными горелками могут комплектоваться расходным топливным баком с электроподогревателем топлива.	
		
		.product-description__row.d-grid-2
			.custom-text__block.simple-list
				h2 Технические особенности
				ul
					li Воздухонагреватель с усиленным каркасом, из расчета длительного транспортирования и использования на открытых площадках.
					li Специальный утепленный отсек для горелки с взрывобезопасным предпусковым электроподогревом, позволяющий эксплуатировать воздухонагреватель при температуре наружного воздуха до –60°C.
					li Камера горения выполнена из жаростойкой нержавеющей стали.
				ul
					li Применение автоматических блочных горелок различных производителей на различных видах топлива (природный газ, дизельное топливо и т. д.).
					li Датчик потока воздуха.
					li Приставной центробежный вентилятор. Выход нагретого воздуха слева, справа, вверх относительно воздухонагревателя.
					li Подача теплого воздуха в отсек с горелкой во время работы воздухонагревателя.
			p
				img(src="./img/vozd4.webp", width="600" height="450" alt="img")
		//=======Проектировщикам==================
		h2 Проектировщикам
		.d-grid-3
			//==== внутри  .column-centered контент по горизонтали по центру
			.column-centered
				.benefits-item
					.icon-wrapper
						svg.svg-folder
							use(href='./img/sprites/solid.svg#folder')
					.title-29 Промо-материалы
			.column-centered
				.benefits-item
					.icon-wrapper
						svg.svg-book
							use(href='./img/sprites/solid.svg#book')
					.title-29 Техническая документация
			.column-centered
				.benefits-item
					.icon-wrapper
						svg.svg-circle-question
							use(href='./img/sprites/solid.svg#circle-question')
					.title-29 Консультации

		.mt-20
			p Контакты для проектировщиков → #[a.accent-link(href="tel:+73512200531") +7 (351) 220-05-31] , #[a.accent-link(href="mailto:telpo@teplovey.ru") telpo@teplovey.ru], #[a.accent-link(href="#!") Отправить сообщение]
		//=========Тех характеристики ===
		h2 Технические характеристики
		.mt-40.scroll-horizontal
			table
				thead
					tr
						td Модель
						td Т-170С
						td Т-250С
						td Т-350С
						td Т-450С
						td Т-550С
						td Т-700С
						td Т-800С
						td Т-1000С
						td Т-1200С
						td Т-1500С
						td Т-1800С
						td Т-2000С
				tbody
					tr
						td
						td(colspan='12') Общие данные
					tr
						td Номинальная  теплопроизво- дительность*
						td 120÷220
						td 200÷320
						td 280÷410
						td 370÷510
						td 470÷650
						td 600÷800
						td 700÷920
						td 900÷1150
						td 1050÷1350
						td 1300÷1700
						td 1600÷2000
						td 1800÷2000
					tr
						td Вид топлива
						td(colspan='12') Дизельное топливо, природный газ
					tr
						td Максимальный  расход дизельного  топлива, кг/ч
						td 14,6
						td 21,4
						td 30,0
						td 38,6
						td 47,1
						td 60,0
						td 68,6
						td 85,7
						td 102,8
						td 128,4
						td 154,0
						td 171,4
					tr
						td Максимальный  расход природного  газа, м³/ч
						td 18,5
						td 27,3
						td 38,3
						td 49,2
						td 60,1
						td 76,5
						td 87,4
						td 109,3
						td 131,2
						td  164,0
						td 196,8
						td 218,3
					tr
						td Электропитание
						td(colspan='12') 380/3/50
					tr
						td
						td(colspan='12') Основные характеристики
					tr
						td КПД не  менее, %
						td(colspan='12') 98,5
					tr
						td Максимальная   температура на выходе, ºС
						td(colspan='12') 180
					tr
						td Разность температур  на входе и  выходе, ºС*
						td( colspan='4' ) 30÷150
						td( colspan='8') 50÷200
					tr
						td Производительность по воздуху тыс. м3/ч
						td 10,2÷ 3,4
						td 15÷5
						td 21÷7
						td 27÷8
						td 33÷9
						td 42÷10
						td 48÷12
						td 60÷15
						td 72÷18
						td 90÷22
						td 110÷27
						td 120÷30
					tr
						td Напор на  выходе, Па
						td(colspan='12') 200÷7000
		
			p * — в зависимости от условий эксплуатации
		//========Полный цикл=================
		h2 Габаритные размеры
		.product-description__images.d-grid-2
			img(src="./img/vozd5.webp", width="600" height="370" alt="img")
			img(src="./img/vozd6.webp", width="600" height="370" alt="img")
		
		.dimensions-table.mt-40
			table
				thead
					tr
						td Модель
						td Т-170С
						td Т-250С
						td Т-350С
						td Т-450С
						td Т-550С
						td Т-700С
						td Т-800С
						td Т-1000С
						td Т-1200С
						td Т-1500С
						td Т-1800С
						td Т-2000С
				tbody
					tr
						td Длина, L, мм
						td 2430
						td 2700
						td 3100
						td 3700
						td 3900
						td 4000
						td 4000
						td 4200
						td 4200
						td 4700
						td 5700
						td 5700
					tr
						td Длина с вентилятором,L1, мм
						td 3590
						td 3600
						td 4100
						td 4700
						td 4700
						td 5180
						td 5400
						td 5600
						td 5600
						td 6625
						td -*
						td -*
					tr
						td Ширина, В, мм
						td 1240
						td 1240
						td 1310
						td 1310
						td 1310
						td 1400
						td 1600
						td 2000
						td 2000
						td 2200
						td 2300
						td 2300
					tr
						td Высота, Н, мм
						td 1552
						td 1550
						td 1590
						td 1590
						td 1590
						td 1590
						td 1800
						td 2300
						td 2300
						td 2300
						td 2500
						td 2500
					tr
						td Масса без вентилятора, кг
						td 425
						td 490
						td 540
						td 630
						td 710
						td 780
						td 1300
						td 1800
						td 1800
						td 2000
						td 2300
						td 2400
		p *- в зависимости от применяемого вентилятора
		//==================================
		h2 Координаты опор
		.product-description__images.d-grid-2
			img(src="./img/vozd7.webp", width="600" height="370" alt="img")
			img(src="./img/vozd8.webp", width="600" height="370" alt="img")
		
		.coordinates-table.mt-40
			table
				thead
					tr
						td Модель
						td Т-170С
						td Т-250С
						td Т-350С
						td Т-450С
						td Т-550С
						td Т-700С
						td Т-800С
						td Т-1000С
						td Т-1200С
						td Т-1500С
						td Т-1800С
						td Т-2000С
				tbody
					tr
						td L, мм
						td 1840
						td 2000
						td 2360
						td 2830
						td 2930
						td 2910
						td 2910
						td 2950
						td 2950
						td 3420
						td 3700
						td 3900
					tr
						td L1, мм
						td 550
						td 660
						td 700
						td 830
						td 930
						td 1050
						td 1050
						td 1200
						td 1200
						td 1230
						td 1250
						td 1250
					tr
						td L2, мм
						td 500
						td 500
						td 560
						td 560
						td 560
						td 510
						td 510
						td 550
						td 600
						td 1020
						td 1020
						td 1020
					tr
						td L3, мм
						td 650
						td 650
						td 700
						td 700
						td 700
						td 700
						td 700
						td 1000
						td 1000
						td 1880
						td(colspan='2') В зависимости от вентилятора
					tr
						td В, мм
						td 1200
						td 1200
						td 1270
						td 1270
						td 1270
						td 1360
						td 1560
						td 1960
						td 1960
						td 2160
						td 2260
						td 2260
		
		
		
		//===========БЛОК  Выполненные проекты============
		h2 Выполненные проекты
		.d-grid-4

			+product-card('portfolio1', 'Вентиляция и аспирация песка', 'приточная вентиляция компенсирует удаленный воздух и использует тепло от сушильной печи')
			+product-card('portfolio2', 'Обогрев вагонов', 'Быстро прогреваем пневматику вагонов и оттаиваем наледь на ввозимом стальном прокате')
			+product-card('portfolio3', 'Прогрев линий пневмотранспорта', 'Двухрежимная система подогрева воздуха для транспортировки сыпучих кормов')
			+product-card('portfolio4', 'Отопление теплиц', 'Эконом-вариант воздушного отопления теплицы с равномерным распределением воздуха')
			+product-card('portfolio5', 'Сушка и подогрев литейных форм', 'Техпроцесс поддерживают 2 теплогенератора мощностью по 250 кВт каждый')
			+product-card('portfolio6', 'Покрасочно-сушильные камеры', 'Обеспечиваем равномерный поток чистого воздуха от потолка к полу с автоподдержанием температуры')
			+product-card('portfolio7', 'Отопление на улице', 'Система подогрева двигателей в условиях крайнего севера на открытом пространстве	')
			+product-card('portfolio8', 'Отопление автосалона', 'Компактная, легкая в обслуживании и недорогая система отопления по европейским стандартам')

		.mt-20
			a(href="#!").arrow-link
				span.accent-link Все выполненные проекты
				svg.svg-arrow-right
					use(href='./img/sprite.svg#svg-arrow-right')
		
		//========Полный цикл=================
		h2 Полный цикл производства и обслуживания
		.d-grid-4.full-process
			.product-card
				.title-29 Проектирование
				.product-card__img
					img(src="./img/01prj.webp", width="300" height="170" alt="img")
				.product-card__txt
					p Спроектируем новые или #[a.accent-link(href="#!") модернизируем существующие системы вентиляции] и рассчитаем срок окупаемости рекуператора
					a.accent-link(href="#!") Подробнее о проектировании
			.product-card
				.title-29 Производство
				.product-card__img
					img(src="./img/02prj.webp", width="300" height="170" alt="img")
				.product-card__txt
					p Произведем блоки рекуперации тепла в точности соответствующие требованиям проекта
					a.accent-link(href="#!") Подробнее о производстве
			.product-card
				.title-29 Монтаж и наладка
				.product-card__img
					img(src="./img/03prj.webp", width="300" height="170" alt="img")
				.product-card__txt
					p Смонтируем систему вентиляции, рекуператор и выполним пуско-наладочные испытания
					a.accent-link(href="#!") Подробнее о монтаже и пуско-наладке
			.product-card
				.title-29 Обслуживание
				.product-card__img
					img(src="./img/04prj.webp", width="300" height="170" alt="img")
				.product-card__txt
					p Произведем обслуживание систем вентиляции и рекуператоров
					a.accent-link(href="#!") Подробнее об обслуживании
		
		//============О нас=====================
		h2 О нас
		p НПО Тепловей основано более 25 лет назад и наше производство находится в Челябинске. Мы делаем работы "под ключ" — проектирование, производство, монтаж и обслуживание систем бытового и промышленного воздушного отопления и вентиляции... #[a.accent-link(href="#!") читать далее о НПО Тепловей]

		p Мы серьёзно относимся к качеству нашей продукции. Наше производство сертифицировано ISO-9001 «TUV ZUD Manadgement Servise GmbH» → #[a.accent-link(href="#!") о контроле качества]
		
		//==============Наши преимущества================
		h2 Наши преимущества
		.benefits-grid.d-grid-7
			.grid-col-4.column-centered
				.benefits-item
					.icon-wrapper
						svg.svg-calendar
							use(href='./img/sprites/regular.svg#calendar-check')
					.title-29 Опыт с 1995 года
			.grid-col-4.column-centered
				.benefits-item
					.icon-wrapper
						svg.svg-medal
							use(href='./img/sprites/solid.svg#medal')
					.title-29 Даем гарантию
			.grid-col-4.column-centered
				.benefits-item
					.icon-wrapper
						svg.svg-clock
							use(href='./img/sprites/regular.svg#clock')
					.title-29 Короткий срок поставки
			.grid-col-3.column-centered
				.benefits-item
					.icon-wrapper
						svg.svg-industry
							use(href='./img/sprites/solid.svg#industry')
					.title-29 Свое производство
					p От воздуховодов до сложного оборудования
			.grid-col-3.column-centered
				.benefits-item
					.icon-wrapper
						svg.svg-map-pin
							use(href='./img/sprites/solid.svg#map-pin')
					.title-29 Рядом с Вами
					p Сеть дилеров во многих городах России и СНГ
			.grid-col-3.column-centered
				.benefits-item
					.icon-wrapper
						svg.svg-thumbs-up
							use(href='./img/sprites/solid.svg#thumbs-up')
					.title-29 Полный цикл работ
					p От проектирования до монтажа и пуско-наладки
			.grid-col-3.column-centered
				.benefits-item
					.icon-wrapper
						svg.svg-wrench
							use(href='./img/sprites/solid.svg#wrench')
					.title-29 Своя сервисная служба
					p Реагируем быстро. Запчасти в наличии

//=======contacts cards ======
section.inner-contacts
	.container
		//===contacts cards =====
		.contacts-cards.d-grid-2
			//======contacts-card======
			.contacts-card.contacts-specialist
				.contacts-specialist__icon
					svg.svg-circle-question
						use(href='./img/sprites/solid.svg#circle-question')
				.contacts-card__title Контакты в Челябинске
				
				ul.flex-list
					li
						span Телефон:
						a(href="tel:+73512200530").accent-link +7 (351) 220-05-30
					li
						span email
						a(href="mailto:teplo@teplovey.ru").accent-link teplo@teplovey.ru
				
				.contacts-card__btn
					a.accent-btn(href="#!" ) 
						svg.svg-check
							use(href='./img/sprite.svg#svg-check')
						span Отправить заявку
			//======contacts-card======
			.contacts-card
				.contacts-card__title Купить смесительный воздухонагреватель
				
				ul.decore-list
					li Заказать напрямую в НПО Тепловей
					li Обратиться к дилерам
				.mt-10
					p Наше производство расположено в Челябинске, но купить рекуператор воздуха от НПО Тепловей Вы можете у наших дилеров в #[a.accent-link(href="#!") Москве], #[a.accent-link(href="#!") Санкт-Петербурге], #[a.accent-link(href="#!") Екатеринбурге],  #[a.accent-link(href="#!") Краснодаре], #[a.accent-link(href="#!") Нижнем Новгороде], #[a.accent-link(href="#!") Омске], #[a.accent-link(href="#!") Перми], #[a.accent-link(href="#!") Новосибирске], #[a.accent-link(href="#!") Самаре], #[a.accent-link(href="#!") Уфе] и других городах.