section.product-description.has-overlay.custom-text
	.container
		.overlay
		.product-description__row.d-grid-2
			p
				img(src="./img/vozd1.webp", width="537" height="230" alt="img")
			.custom-text__block
				h2 Область применения
				p Данное оборудование с успехом применяется на открытых площадках для обогрева стоянок техники, различного типа оборудования, в процессах технологической сушки и в приточных вентиляционных системах.

				p Модель Т-450С предназначена для эксплуатации на открытых площадках при температуре окружающего воздуха до –60°С (климатическое исполнение класса УХЛ1).
			
		.product-description__row.d-grid-2
			.custom-text__block
				h2 Общие особенности:
				ul
					li Продукты горения смешиваются с нагреваемым воздухом.
					li Применяются вентиляторы обычного или жаростойкого исполнения.
					li Встроенный блок автоматики.
					li Для наружной облицовки используется оцинкованная листовая сталь с полимерным покрытием.
					li Возможно перемещение с одного объекта на другой и использование в качестве временной отопительной установки.
			p
				img(src="./img/vozd2.webp", width="450" height="220" alt="img")
		.product-description__row.d-grid-2
			.custom-text__block
				p Компания НПО «Тепловей» производит воздухонагреватели прямого нагрева воздуха (смесительного типа), теплопроизводительностью 170 — 2000 кВт, с автоматической блочной горелкой.
				h2 Особенности наших нагревателей
								
				ul
					li Возможно исполнение для наружного размещения (без отдельного помещения).
					li Работа на приточном воздухе.
					li При установке внутри помещения обеспечить достаточный приток воздуха.
					li Выпускаются в горизонтальном исполнении.
			p
				img(src="./img/vozd3.webp", width="450" height="220" alt="img")
		.product-description__row
			h2 Дополнительная информация
			ul
				li Возможна окраска корпуса и облицовочных панелей в любой цвет.
				li Возможен подвод газа (дизельного топлива) с левой или правой стороны.
				li Воздухонагреватели наружного размещения с дизельными горелками могут комплектоваться расходным топливным баком с электроподогревателем топлива.	
		
		.product-description__row.d-grid-2
			.custom-text__block
				h2 Технические особенности
				ul
					li Воздухонагреватель с усиленным каркасом, из расчета длительного транспортирования и использования на открытых площадках.
					li Специальный утепленный отсек для горелки с взрывобезопасным предпусковым электроподогревом, позволяющий эксплуатировать воздухонагреватель при температуре наружного воздуха до –60°C.
					li Камера горения выполнена из жаростойкой нержавеющей стали.
				ul
					li Применение автоматических блочных горелок различных производителей на различных видах топлива (природный газ, дизельное топливо и т. д.).
					li Датчик потока воздуха.
					li Приставной центробежный вентилятор. Выход нагретого воздуха слева, справа, вверх относительно воздухонагревателя.
					li Подача теплого воздуха в отсек с горелкой во время работы воздухонагревателя.
			p
				img(src="./img/vozd4.webp", width="600" height="450" alt="img")
		//=======Проектировщикам==================
		h2 Проектировщикам
		.d-grid-3
			//==== внутри  .column-centered контент по горизонтали по центру
			.column-centered
				.benefits-item
					.icon-wrapper
						svg.svg-folder
							use(href='./img/sprites/solid.svg#folder')
					.title-29 Промо-материалы
			.column-centered
				.benefits-item
					.icon-wrapper
						svg.svg-book
							use(href='./img/sprites/solid.svg#book')
					.title-29 Техническая документация
			.column-centered
				.benefits-item
					.icon-wrapper
						svg.svg-circle-question
							use(href='./img/sprites/solid.svg#circle-question')
					.title-29 Консультации

		.mt-20
			p Контакты для проектировщиков → #[a.accent-link(href="tel:+73512200531") +7 (351) 220-05-31] , #[a.accent-link(href="mailto:telpo@teplovey.ru") telpo@teplovey.ru], #[a.accent-link(href="#!") Отправить сообщение]
		//=========Тех характеристики ===
		h2 Технические характеристики
		.mt-40.scroll-horizontal
			table.mt-40
				thead
					tr
						td(style='width: 123px;') Модель
						td(style='width: 59px;') Т-170С
						td(style='width: 59px;') Т-250С
						td(style='width: 59px;') Т-350С
						td(style='width: 65px;' colspan='2' width='38') Т-450С
						td(style='width: 59px;' width='38') Т-550С
						td(style='width: 62px;' colspan='2' width='38') Т-700С
						td(style='width: 56px;' width='34') Т-800С
						td(style='width: 76px;' width='42') Т-1000С
						td(style='width: 57px;' width='42') Т-1200С
						td(style='width: 74px;' width='42') Т-1500С
						td(style='width: 74px;' width='49') Т-1800С
						td(style='width: 74px;' width='49') Т-2000С
				tbody
					tr
						td(style='width: 897px;' colspan='15' width='701') Общие данные
					tr
						td(style='width: 123px;' width='217') Номинальная  теплопроизво- дительность*
						td(style='width: 59px;' width='38') 120÷220
						td(style='width: 59px;' width='38') 200÷320
						td(style='width: 59px;' width='38') 280÷410
						td(style='width: 65px;' colspan='2' width='38') 370÷510
						td(style='width: 59px;' width='38') 470÷650
						td(style='width: 62px;' colspan='2' width='38') 600÷800
						td(style='width: 56px;' width='34') 700÷920
						td(style='width: 76px;' width='42') 900÷1150
						td(style='width: 57px;' width='42') 1050÷1350
						td(style='width: 74px;' width='42') 1300÷1700
						td(style='width: 74px;' width='49') 1600÷2000
						td(style='width: 74px;' width='49') 1800÷2000
					tr
						td(style='width: 123px;' width='217') Вид топлива
						td(style='width: 774px;' colspan='14' width='484') Дизельное топливо, природный газ
					tr
						td(style='width: 123px;' width='217') Максимальный  расход дизельного  топлива, кг/ч
						td(style='width: 59px;' width='38') 14,6
						td(style='width: 59px;' width='38') 21,4
						td(style='width: 59px;' width='38') 30,0
						td(style='width: 65px;' colspan='2' width='38') 38,6
						td(style='width: 59px;' width='38') 47,1
						td(style='width: 62px;' colspan='2' width='38') 60,0
						td(style='width: 56px;' width='34') 68,6
						td(style='width: 76px;' width='42') 85,7
						td(style='width: 57px;' width='42') 102,8
						td(style='width: 74px;' width='42') 128,4
						td(style='width: 74px;' width='49') 154,0
						td(style='width: 74px;' width='49') 171,4
					tr
						td(style='width: 123px;' width='217') Максимальный  расход природного  газа, м³/ч
						td(style='width: 59px;' width='38') 18,5
						td(style='width: 59px;' width='38') 27,3
						td(style='width: 59px;' width='38') 38,3
						td(style='width: 65px;' colspan='2' width='38') 49,2
						td(style='width: 59px;' width='38') 60,1
						td(style='width: 62px;' colspan='2' width='38') 76,5
						td(style='width: 56px;' width='34') 87,4
						td(style='width: 76px;' width='42') 109,3
						td(style='width: 57px;' width='42') 131,2
						td(style='width: 74px;' width='42')  164,0
						td(style='width: 74px;' width='49') 196,8
						td(style='width: 74px;' width='49') 218,3
					tr
						td(style='width: 123px;' width='217') Электропитание
						td(style='width: 774px;' colspan='14' width='484') 380/3/50
					tr
						td(style='width: 897px;' colspan='15' width='701') Основные характеристики
					tr
						td(style='width: 123px;' width='217') КПД не  менее, %
						td(style='width: 774px;' colspan='14' width='484') 98,5
					tr
						td(style='width: 123px;' width='217') Максимальная   температура на выходе, ºС
						td(style='width: 774px;' colspan='14' width='484') 180
					tr
						td(style='width: 123px;' width='217') Разность температур  на входе и  выходе, ºС*
						td(style='width: 238px;' colspan='4' width='149') 30÷150
						td(style='width: 536px;' colspan='10' width='335') 50÷200
					tr
						td(style='width: 123px;' width='217') Производительность по воздуху тыс. м3/ч
						td(style='width: 59px;' width='38') 10,2÷ 3,4
						td(style='width: 59px;' width='38') 15÷5
						td(style='width: 59px;' width='38') 21÷7
						td(style='width: 61px;' width='36') 27÷8
						td(style='width: 66px;' colspan='3' width='43') 33÷9
						td(style='width: 59px;' width='35') 42÷10
						td(style='width: 56px;' width='34') 48÷12
						td(style='width: 76px;' width='42') 60÷15
						td(style='width: 57px;' width='42') 72÷18
						td(style='width: 74px;' width='42') 90÷22
						td(style='width: 74px;' width='49') 110÷27
						td(style='width: 74px;' width='49') 120÷30
					tr
						td(style='width: 123px;' width='217') Напор на  выходе, Па
						td(style='width: 774px;' colspan='14' width='484') 200÷7000
		
		
		//========Полный цикл=================
		h2 Полный цикл производства и обслуживания
		.d-grid-4.full-process
			.product-card
				.title-29 Проектирование
				.product-card__img
					img(src="./img/01prj.webp", width="300" height="170" alt="img")
				.product-card__txt
					p Спроектируем новые или #[a.accent-link(href="#!") модернизируем существующие системы вентиляции] и рассчитаем срок окупаемости рекуператора
					a.accent-link(href="#!") Подробнее о проектировании
			.product-card
				.title-29 Производство
				.product-card__img
					img(src="./img/02prj.webp", width="300" height="170" alt="img")
				.product-card__txt
					p Произведем блоки рекуперации тепла в точности соответствующие требованиям проекта
					a.accent-link(href="#!") Подробнее о производстве
			.product-card
				.title-29 Монтаж и наладка
				.product-card__img
					img(src="./img/03prj.webp", width="300" height="170" alt="img")
				.product-card__txt
					p Смонтируем систему вентиляции, рекуператор и выполним пуско-наладочные испытания
					a.accent-link(href="#!") Подробнее о монтаже и пуско-наладке
			.product-card
				.title-29 Обслуживание
				.product-card__img
					img(src="./img/04prj.webp", width="300" height="170" alt="img")
				.product-card__txt
					p Произведем обслуживание систем вентиляции и рекуператоров
					a.accent-link(href="#!") Подробнее об обслуживании
		
		
		//===========БЛОК  Выполненные проекты============
		h2 Выполненные проекты
		.d-grid-4
			+product-card('proj1', 'Сушильный цех с рекуператором', 'Цех работает уже более 2х лет и рекуператор снижает мощность на нагрев не менее, чем вдвое')
			+product-card('proj2', 'Рекуператор для макаронного цеха', 'Рекуператор работает с температурой до 70° С и высоким влагосодержанием')
			+product-card('proj3', 'ПВУ с рекуперацией для пиццерии', 'Система вентиляции с канальным рекуператором производительностью 3500 м3/час')
			+product-card('proj4', 'ПВУ с рекуперацией для Алвид', 'Смонтирована приточно-вытяжная установка с рекуперацией на 65000 м3/час и блоком нагрева на 580 кВт')
				
		.mt-20
			a(href="#!").arrow-link
				span.accent-link Все выполненные проекты
				svg.svg-arrow-right
					use(href='./img/sprite.svg#svg-arrow-right')
		

		

		
		//============О нас=====================
		h2 О нас
		p НПО Тепловей основано более 25 лет назад и наше производство находится в Челябинске. Мы делаем работы "под ключ" — проектирование, производство, монтаж и обслуживание систем бытового и промышленного воздушного отопления и вентиляции... #[a.accent-link(href="#!") читать далее о НПО Тепловей]

		p Мы серьёзно относимся к качеству нашей продукции. Наше производство сертифицировано ISO-9001 «TUV ZUD Manadgement Servise GmbH» → #[a.accent-link(href="#!") о контроле качества]
		
		//==============Наши преимущества================
		h2 Наши преимущества
		.benefits-grid.d-grid-7
			.grid-col-4.column-centered
				.benefits-item
					.icon-wrapper
						svg.svg-calendar
							use(href='./img/sprites/regular.svg#calendar-check')
					.title-29 Опыт с 1995 года
			.grid-col-4.column-centered
				.benefits-item
					.icon-wrapper
						svg.svg-medal
							use(href='./img/sprites/solid.svg#medal')
					.title-29 Даем гарантию
			.grid-col-4.column-centered
				.benefits-item
					.icon-wrapper
						svg.svg-clock
							use(href='./img/sprites/regular.svg#clock')
					.title-29 Короткий срок поставки
			.grid-col-3.column-centered
				.benefits-item
					.icon-wrapper
						svg.svg-industry
							use(href='./img/sprites/solid.svg#industry')
					.title-29 Свое производство
					p От воздуховодов до сложного оборудования
			.grid-col-3.column-centered
				.benefits-item
					.icon-wrapper
						svg.svg-map-pin
							use(href='./img/sprites/solid.svg#map-pin')
					.title-29 Рядом с Вами
					p Сеть дилеров во многих городах России и СНГ
			.grid-col-3.column-centered
				.benefits-item
					.icon-wrapper
						svg.svg-thumbs-up
							use(href='./img/sprites/solid.svg#thumbs-up')
					.title-29 Полный цикл работ
					p От проектирования до монтажа и пуско-наладки
			.grid-col-3.column-centered
				.benefits-item
					.icon-wrapper
						svg.svg-wrench
							use(href='./img/sprites/solid.svg#wrench')
					.title-29 Своя сервисная служба
					p Реагируем быстро. Запчасти в наличии

//=======contacts cards ======
section.inner-contacts
	.container
		//===contacts cards =====
		.contacts-cards.d-grid-2
			//======contacts-card======
			.contacts-card.contacts-specialist
				.contacts-specialist__icon
					svg.svg-circle-question
						use(href='./img/sprites/solid.svg#circle-question')
				.contacts-card__title Задайте вопрос специалисту
				.contacts-specialist__name
					p
						strong Давыдов Илья Сергеевич
						span ведущий инженер проектов
				ul.flex-list
					li
						span email
						a(href="mailto:tochka_ros@bk.ru").accent-link tochka_ros@bk.ru
					li
						span Телефон:
						a(href="tel:+73512200530").accent-link tochka_ros@bk.ru +7 (351) 220-05-30
				a(href="#!").accent-link Отправить заявку на рекуператор
				.contacts-card__btn
					a.accent-btn(href="#!" ) 
						svg.svg-check
							use(href='./img/sprite.svg#svg-check')
						span Заполнить опросный лист на расчет онлайн
			//======contacts-card======
			.contacts-card
				.contacts-card__title Как купить
				
				ul.decore-list
					li Заказать напрямую в НПО Тепловей
					li Обратиться к дилерам
				.mt-10
					p Наше производство расположено в Челябинске, но купить рекуператор воздуха от НПО Тепловей Вы можете у наших дилеров в #[a.accent-link(href="#!") Москве], #[a.accent-link(href="#!") Санкт-Петербурге], #[a.accent-link(href="#!") Екатеринбурге],  #[a.accent-link(href="#!") Краснодаре], #[a.accent-link(href="#!") Нижнем Новгороде], #[a.accent-link(href="#!") Омске], #[a.accent-link(href="#!") Перми], #[a.accent-link(href="#!") Новосибирске], #[a.accent-link(href="#!") Самаре], #[a.accent-link(href="#!") Уфе] и других городах.