
* {
	  box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  
  html {
	 scroll-behavior: smooth;
  }

  html,
  body {
	margin: 0;
	padding: 0;
	width: 100%;
  color: black;
  font-family: $ff, sans-serif;
  font-size: 15px;
  font-weight: 400;
	-webkit-font-smoothing: antialiased;

  }
  .lock {
	overflow: hidden;
	touch-action: none;
	-ms-touch-action: none;
	height: 100vh;
  }
  .page-wrapper{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    .header, .footer, main{width: 100%;flex-shrink:0}
    main{
      flex-grow:1;
      flex-shrink: 1;
    }
  }
  a{color: inherit; display: inline-block;}
  a,
  a:hover {
	text-decoration: none;
  }
  
  ul, ol {list-style-type: none;}
  
  h1,
  h2,
  h3,
  h4,
  p, ul, ol {
	padding: 0;
	margin: 0;
  }
 
  img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
  object-fit: cover;
  }
  
  input,
  button, button:focus, input:focus, textarea, textarea:hover {
	 outline: none;
  }
    input,  textarea{
      display: block;
      width: 100%;
      font-family: inherit;
        font-size: inherit;
      &::placeholder{
        font-family: inherit;
        font-size: inherit;
      }
    }
  button {
	padding: 0;
	background-color: transparent;
	border: none;
	box-shadow: none;
	cursor: pointer;
  }
input[type="submit"]{
	padding: 0;
	cursor:pointer;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {

  -webkit-box-shadow: 0 0 0px 1000px #01203c inset;
  transition: background-color 5000s ease-in-out 0s;
}
.container{
  width: min(1270px, 100%);
  padding-inline: 20px;
  margin: 0 auto;
  
}
.flex-row{
  display: flex;
  align-items: center;
  column-gap: 20px;
}
