*[class^="icon-"]{
	display: inline-block;
}
.svg-home, .svg-phone{
	width: 24px;
	height: 24px;
	color: white;
}
.svg-arrow-right,
.svg-check{
	width: 24px;
	height: 24px;
	color: $dark;
}
.svg-arrow-right{
	width: 28px;
	height: 28px;
}
.svg-calendar, .svg-medal, .svg-clock, .svg-industry,
.svg-map-pin, .svg-thumbs-up, .svg-wrench, .circle-question{
	width: auto;
	height: 50px;
}