.h1, .h2, .title, .h3{
	font-family: $fs;
	font-weight: 700;
}
.h1{
	font-size: 50px;
	line-height: 1.7;
	
	@media (max-width: 1199px) {
	 font-size: 42px;
	}
	@media (max-width: 1023px) {
		font-size: 36px;
	}
	@media (max-width: 767px) {
		font-size: 30px;
		line-height: 1.5;
	}
}
.h2, .title{
	font-size: 18px;
	line-height: 1.05;
	text-transform: uppercase;
	
}
.h3{
	font-size: 22px;
}
.title{
	font-size: 32px;
	@media (max-width: 767px) {
	  font-size: 26px;
	}
}
.section-title{
	padding-inline:20px;
	padding-block:12px;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 68px;
	text-align: center;
	background-color: $accent;
	background-image: url('../img/bg-title.webp');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	@media (max-width: 767px) {
	   min-height: 60px;
	  background-image: url('../img/bg-title-mobile.webp');
	}
}
.single-part{
	.h3{
		margin-bottom: 24px;
		text-transform: uppercase;
		width: fit-content;
		position: relative;
		&:after{
			content:'';
			position: absolute;
			left: 0;
			bottom:0;
			width: 0;
			height: 3px;
			transition: .3s;
			background-color: $accent;
		}
	}
	
}
.single-part.single-part--hover{
	&:hover .h3:after{width: 100%;}
}
.txt-25{
	font-size: 25px;
	@media (max-width: 767px) {
		font-size: 19px
	}
}
.roboto-accent{
	font-family: $ft;
}
.accent-link{
	font-size: 15px;
	position: relative;
	width: fit-content;
	text-decoration: underline;
	text-decoration-skip: none;
	
}
.txt-accent, .roboto-accent, .accent-link{color: $accent;}
.txt-light{font-weight: 100;}
.txt-bold {font-weight: 700;}
.txt-center{text-align: center;}
.bg-white{background-color: #fff;}
.special-link{
	font-size: 29px;
	font-family: $ft;
	font-weight: 1.05;
	.txt-bold{padding-left: 5px;}
	@media (max-width: 1199px) {
	  font-size: 24px;
	}
}
.contacts-group {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	align-items: center;
	justify-content: center;
	color: black;
    address{
		font-style: normal;
		font-size: 19px;
		line-height: 1.35;
		text-align: center;
	}
	address, p, .roboto-accent {
		font-weight: 700;
	}

	a {
		transition: .3s;
	}

	a:hover {
		opacity: .6;
	}
	.accent-btn {margin-top: 48px;}
}