.h2{
	font-size: 18px;
	line-height: 1.05;
	text-transform: uppercase;
	font-family: $fs;
	font-weight: 700;
}
.roboto-accent{
	font-family: $ft;
}
.txt-accent, .roboto-accent{color: $accent;}
.txt-light{font-weight: 100;}
.txt-bold {font-weight: 700;}
.txt-center{text-align: center;}

.special-link{
	font-size: 29px;
	font-family: $ft;
	font-weight: 1.05;
	.txt-bold{padding-left: 5px;}
	@media (max-width: 1199px) {
	  font-size: 24px;
	}
}
.contacts-group {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	align-items: center;
	justify-content: center;
	color: black;
    address{
		font-style: normal;
		font-size: 19px;
		line-height: 1.35;
	}
	address, p, .roboto-accent {
		font-weight: 700;
	}

	a {
		transition: .3s;
	}

	a:hover {
		opacity: .6;
	}
	.accent-btn {margin-top: 48px;}
}