.header-menu {
	width: 100%;
	display: flex;
	align-items: center;
	width: 100%;
	font-family: $fs;
	height: 42px;
	@media(max-width:1023px) {
		height: auto;
	}

	ul {
		display: flex;
		padding-right: 35px;
		justify-content: space-between;
		width: 100%;
		align-items: center;
		height: 100%;

		@media(max-width:1023px) {
			display: block;
			height: auto;
			width: 100%;
			padding-right: 14px;
		}

		li {
			display: flex;
			align-items: center;
			height: 100%;
			position: relative;
			padding-right: 25px;

			@media(max-width:1199px) {
				padding-right: 22px;
			}

			@media(max-width:1023px) {
				padding-right: 0;
			}

			&:after {
				content: '';
				position: absolute;
				left: 0;
				bottom: 0;
				height: 2px;
				width: 0%;
				z-index: 1;

				transition: .5s;
			}
			&.active {
				.menu-link, .svg-home{
					color: $accent2;
					@media (max-width: 1023px) {
					color: $accent;
					}
				}
				
				&:after {
					width: 100%;
				}


				@media(max-width:1023px) {
					&:after {
						display: none;
					}
				}
			}

			&+li {
				
				@media(max-width:1023px) {
					margin-left: 0;
				}
			}
		}
		
		li:hover {
			&:after {
				width: 100%;
			}
			.menu-link, .menu-link svg{color:$accent2;}
			@media(max-width:1023px) {
				&:after {
					display: none;
				}
				.menu-link,
				.menu-link svg {
					color: $accent;
				}

			}
		}
		.menu-link{
			white-space: nowrap;
			font-size: 20px;
			font-weight: 700;
			color: white;
			text-transform: uppercase;
			display: flex;
			align-items: center;
			column-gap:6px;
			@media (max-width: 1199px) {
				font-size: 17px;
			}
			@media (max-width: 1023px) {
			 color: $dark;
			 svg{display: none;}
			 
			}
		}
		.menu-item.menu-item--icon {
			padding-right: 0;
			@media (max-width: 1023px) {
				border-bottom: 1px solid rgba(0, 0, 0, .3);
				margin-bottom: 10px;
				svg{display: flex;}
			}
		}
		.menu-item--icon .menu-link{
			display: flex; align-items: center;
		}
				
		a {
			display: inline-block;
			font-size: 17px;
			line-height: 1.5;
			font-family: $fs;
			font-weight: 700;
			color: $dark;
			transition: .3s; 
			
			
			@media(max-width:1023px) {
				padding-top: 10px;
				padding-bottom: 10px;

			}

		}
	}
	.header-menu-list, .menu-item{padding-right: 24px;}
	@media (min-width: 1023px) {
	.header-menu-list,.menu-item {padding-right: 0;}
	.menu-item.drop-menu{padding-right: 24px}
	}
}

// СТИЛИ ДЛЯ ПОДМЕНЮ
.header-menu ul .submenu {
	position: absolute;
	left: -20px;
	top: 100%;
	z-index: 4;
	width: 300px;
	padding-top: 10px;
	padding-bottom: 10px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    &.submenu-4{width: 260px;}
	background-color: #fff;

	ul {
		display: block;
		padding-right: 0;

		li {
			margin-left: 0;
			padding-left: 20px;
			padding-right: 20px;
			position: relative;

			&:hover {
				 background-color: rgba(255, 136, 0, 0.07);
				@media (max-width: 1023px) {
					background-color: white;
				}
				&>a {
					color: $accent;
				}
				.drop-icon{
					border-bottom: 1px solid $accent;
					border-right: 1px solid $accent;
					@media (max-width: 1023px) {
					border:0;
					}
				}
				@media(max-width:1023px) {
					padding-left: 20px;
				}
			}

			&:after {
				display: none;
			}

			
			a {
				font-size: 17px;
				padding-top: 5px;
				padding-bottom: 5px;

			}

		}
	}
	@media (max-width: 1199px) {
	 left: -80px;
	}
	@media (max-width: 1023px) {
	left: auto;
	}
}

// третий уровень
.header-menu ul .submenu.submenu-3,
.header-menu ul .submenu.submenu-4 {
	top: -10px;
	left: 100%;
	@media(max-width:1023px) {
		left: 0;
		top: auto;
	}
}

.submenu-2,
.submenu-3,
.submenu-4 {
	visibility: hidden;
	margin-top: 20px;
	opacity: 0;
	transition: margin-top .5s;
	@media(max-width:1023px) {
		opacity: 1;

	}
}

li.drop-menu_2:hover .submenu-2,
li.drop-menu_3:hover .submenu-3,
li.drop-menu_4:hover .submenu-4,
li.drop-menu_4:hover .submenu-5 {
	visibility: visible;
	margin-top: 0;
	opacity: 1;
}

.drop-icon {
	display: inline-block;
	position: absolute;
	top: 17px;
	right: 16px;
	width: 7px;
	height: 7px;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
	transform: rotate(-45deg);
	cursor: pointer;
	
	@media(max-width:1023px) {
		right: 0px;
		border-bottom: 0;
		border-right: 0;
		transform: rotate(0deg);
		width: 24px;
		height: 24px;
		top: 5px;
		position: absolute;
		font-family: $ft;
		font-weight: 100;
		transition: .3s;
		&:after {
		
			display: block;
			content: '';
			width: 24px;
			height: 24px;
			background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M14 2.5C14.5523 2.5 15 2.94772 15 3.5V13H24.5C25.0523 13 25.5 13.4477 25.5 14C25.5 14.5523 25.0523 15 24.5 15H15V24.5C15 25.0523 14.5523 25.5 14 25.5C13.4477 25.5 13 25.0523 13 24.5V15H3.5C2.94772 15 2.5 14.5523 2.5 14C2.5 13.4477 2.94772 13 3.5 13H13V3.5C13 2.94772 13.4477 2.5 14 2.5Z' fill='%2322231D' opacity='0.6'/%3e%3c/svg%3e");
			background-size: 24px;
			
		}
	}
}
.submenu-2 a:has(+ span.drop-icon) {
	padding-right: 35px;
}
.drop-menu_2>.drop-icon{
	border-bottom: 1px solid white;
	border-right: 1px solid white;
}
.drop-icon.active {
	@media (max-width: 1023px) {
	transform: rotate(45deg);
	}
}
.drop-icon:after{
	@media(min-width: 1024px) {
			display: none;
		}
}
.drop-menu_2>.drop-icon {
	top: 39%;
	right: 8px;
	width: 8px;
	height: 8px;
	transform: rotate(45deg);

	@media(max-width:1023px) {
		top: 8px;
		transform: rotate(0deg);
		right: 0;
		width:24px;
		height: 24px;
		opacity: .6;
		&.active{transform: rotate(45deg);}
	}
}


@media(max-width:1023px) {
	.header-menu ul .submenu {
		position: relative;
		box-shadow: none;
		border-bottom: 0px;
		visibility: unset;
		height: 0;
		overflow: hidden;
		margin: 0;
		padding: 0;
		
	}
   .header-menu .header-menu-list{padding-right: 16px;}
	.header-menu ul li.drop-menu_2,
	.header-menu ul li.drop-menu_3,
	.header-menu ul li.drop-menu_4 {
		display: block;
		a{color: #929292;}
	}
   .header-menu ul li a.menu-link{color: $dark;}
	li.drop-menu_2 .submenu-2.active,
	li.drop-menu_3 .submenu-3.active,
	li.drop-menu_4 .submenu-4.active {
		height: 100%;
		min-height: 50px;
		-webkit-animation-name: fadeIn;
		animation-name: fadeIn;
		-webkit-animation-duration: .8s;
		animation-duration: .8s;
	}
}
@media(max-width:1199px) {
	.header-menu ul .submenu.submenu-3 {
		width: 260px;
	}

	.header-menu ul .submenu.submenu-4 {
		width: 240px;
	}
}
@media(max-width:1023px) {

	.header-menu ul .submenu,
	.header-menu ul .submenu.submenu-2 {
		width: 95%;
		
	}

	.header-menu ul .submenu.submenu-3.active,.header-menu ul .submenu.submenu-4.active {
		width: 98%;
		padding-top: 10px;
		padding-bottom: 10px;
	}
		.header-menu ul .submenu.submenu-4.active{width: 100%;}
   .header-menu ul .submenu.submenu-4.active li{padding-right: 0;}
}

.toggle-menu{
	width: 30px;
	height: 30px;
	display: none;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.59998 7.0001C2.59998 6.50304 3.00292 6.1001 3.49998 6.1001H24.5C24.997 6.1001 25.4 6.50304 25.4 7.0001C25.4 7.49715 24.997 7.9001 24.5 7.9001H3.49998C3.00292 7.9001 2.59998 7.49715 2.59998 7.0001ZM2.59998 14.0001C2.59998 13.503 3.00292 13.1001 3.49998 13.1001H24.5C24.997 13.1001 25.4 13.503 25.4 14.0001C25.4 14.4972 24.997 14.9001 24.5 14.9001H3.49998C3.00292 14.9001 2.59998 14.4972 2.59998 14.0001ZM2.59998 21.0001C2.59998 20.503 3.00292 20.1001 3.49998 20.1001H24.5C24.997 20.1001 25.4 20.503 25.4 21.0001C25.4 21.4972 24.997 21.9001 24.5 21.9001H3.49998C3.00292 21.9001 2.59998 21.4972 2.59998 21.0001Z' fill='%23ff6d00'/%3e%3c/svg%3e");
	background-size: 28px;
	@media (max-width: 1023px) {
	 display: block;
	}
}
@media (max-width: 1023px) {
.drop-menu .menu-item.menu-item--icon{
	svg{color: #3b3f4a;}

}
.drop-menu .menu-item{
	border-bottom: 1px solid rgba(59, 63, 74, 0.08);
}
}

