mixin select-city
	.select-city
		.select-city-trigger Москва
		.select-city-tabs
			button.btn-close
			.select-city-content
				.select-city__title 
					.h2 Выбрать город
				.tabs-trigger
					span.tab-btn.active А
					span.tab-btn Б
					span.tab-btn в
					span.tab-btn г
					span.tab-btn д
					span.tab-btn е
					span.tab-btn ж
					span.tab-btn з
					span.tab-btn и
					span.tab-btn К
					span.tab-btn л
					span.tab-btn м
					span.tab-btn н
					span.tab-btn о
					span.tab-btn п
					span.tab-btn р
					span.tab-btn с
					span.tab-btn т
					span.tab-btn у
					span.tab-btn ф
					span.tab-btn х
					span.tab-btn ц
					span.tab-btn ч
					span.tab-btn ш
					span.tab-btn щ
					span.tab-btn э
					span.tab-btn ю
					span.tab-btn я
				.tabs-content
					//==== активный блок с городами
					.tab-item.active
						a(href="#!").custom-option(data-value='1') Арзамас
						a(href="#!").custom-option(data-value='2') Архангельск
						a(href="#!").custom-option(data-value='3') Астрахань
						a(href="#!").custom-option(data-value='5') Арзамас
						a(href="#!").custom-option(data-value='6') Архангельск
						a(href="#!").custom-option(data-value='7') Астрахань
						a(href="#!").custom-option(data-value='8') Арзамас
						a(href="#!").custom-option(data-value='9') Архангельск
						a(href="#!").custom-option(data-value='10') Астрахань
						
					//====  блок с городами	
					.tab-item
						a(href="#!").custom-option(data-value='11') Балаково
						a(href="#!").custom-option(data-value='12') Белгород
						a(href="#!").custom-option(data-value='13') Буденный
					//====  блок с городами	
					.tab-item
						a(href="#!").custom-option(data-value='14') Воронеж
						a(href="#!").custom-option(data-value='15') Волгоград
						a(href="#!").custom-option(data-value='16') Воркута
						a(href="#!").custom-option(data-value='17') Волгоград