mixin product-card(img, title, txt)
	.product-card&attributes(attributes)
		a(href="product-page.html").product-card__link
			.product-card__img
				img.lazy(src="./img/"+ img +".webp", width="300" height="170" alt="img")
			.accent-link !{title}
		if txt
			.product-card__txt
				p !{txt}

mixin client-slider(count)
	- var n = 1
	while n < count
		.swiper-slide
			.clients-item
				img.lazy(src="./img/slide"+ n++ +".webp", height="60" alt="logo")