extends ../layouts/layout.pug

block content
	.page-wrapper.start-page
		.container
			h1 Тепловей 
			.d-grid-3
				a(href="main.html") Главная
				a(href="quality.html") Качество
				a(href="product-page.html") Страница категории
				a(href="vozd.html") Воздухонагреватели
				a(href="models.html") Модели
				a(href="single-product.html") Страница одного товара
				a(href="contacts.html") Контакты
	
	
block variables
	-var title = "Home";
