extends ../layouts/layout.pug

block content
	.page-wrapper
		//HEADER
		include ../sections/_header.pug
		//MAIN
		main.main
			include ../sections/_promo.pug
			include ../sections/_our-products.pug
			include ../sections/_our-projects.pug
			include ../sections/_our-results.pug
			include ../sections/_our-benefits.pug
			include ../sections/_our-clients.pug
		//FOOTER
		include ../sections/_footer.pug
	
	
block variables
	-var title = "Home";
