extends ../layouts/layout.pug

block content
	.page-wrapper
		//HEADER
		include ../sections/_header.pug
		//MAIN
		main.inner-main
			.inner-hero
				.container
					h1 Служба качества
					ul.breadcrumbs
						li
							a(href="index.html") Главная
						li
							a(href="#!") Услуги
						li
							a(href="#!") Служба качества
						
			include ../sections/_quality.pug
			


		//FOOTER
		include ../sections/_footer.pug
	
	
block variables
	-var title = "Качество";
