extends ../layouts/layout.pug
	
block content
	.page-wrapper
		
		.container-narrow
			h2(style="margin-block:16px;") Класс .container 
			p ограничивает контент шириной в 1230 px.
			p внутри тега  section  имеет белый цвет фона
			p  если добавить второй класс #[strong bg-transpr]  - будет иметь прозрачный цвет фона
			
			h2(style="margin-block:16px;") Класс .container-narrow
			p  имеет максимальную ширину 1050px ( на Главной странице для блока со статистикой)
			hr
			h2(style="margin-block:16px;") Класс .grid-four-columns
			p создает контент в 4 колонки, которые на laptop перестраниваются в 3 колонки, на планшетах от 575 до 767 в две колонки и менее 575 пикселей в одну колонку
			p Использовался на Главной странице для карточек продуктов
			hr
			h2(style="margin-block:16px;") Класс .grid-five-columns
			p создает контент в 5 колонок, которые  на планшетах от 575 до 767 перестраиваются в две колонки и менее 575 пикселей в одну колонку
			p Использовался на Главной странице для блока со статистикой
			hr
			h2(style="margin-block:16px;") Класс .prod-link
			p будет карточка продукта с картинкой без закругления углов
			p Если добавить второй класс #[strong img-round] к классу #[strong prod-link]- будут картинки с закруглением углов
	
	
block variables
	-var title = "Home";