extends ../layouts/layout.pug

block content
	.page-wrapper
		//HEADER
		include ../sections/_header.pug
		//MAIN
		main.inner-main
				
			
			include ../sections/_single-product.pug

		//FOOTER
		include ../sections/_footer.pug
	
	
block variables
	-var title = "Одна модель";