extends ../layouts/layout.pug

block content
	.page-wrapper
		//HEADER
		include ../sections/_header.pug
		//MAIN
		main.inner-main
			.inner-hero
				.container
					h1 Воздухонагреватели смесительные
					ul.breadcrumbs
						li
							a(href="index.html") Главная
						li
							a(href="#!") Продукция
						li
							a(href="#!") Смесительные воздухонагреватели
			
			include ../sections/_vozd.pug
			



		//FOOTER
		include ../sections/_footer.pug
	
	
block variables
	-var title = "Воздухонагреватели";