include ../mixins/mixins.pug
block variables

doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		
		//====убрать синий цвет у ссылок в сафари ========
		meta(name="format-detection" content="telephone=no")
		//======= swiper =============
		link(rel="stylesheet" href="libs/swiper/swiper.min.css" )
		//===шрифты выносим в head для ускорения загрузки страницы ===
		style.
			@font-face{font-family:'OpenSans';src:url(./fonts/OpenSans-Regular.woff2) format("woff2");font-weight:400;font-style:normal;font-display:swap}@font-face{font-family:'OpenSans';src:url(./fonts/OpenSans-Bold.woff2) format("woff2");font-weight:700;font-style:normal;font-display:swap}@font-face{font-family:'OpenSans';src:url(./fonts/OpenSans-Regular.woff2) format("woff2");font-weight:400;font-style:normal;font-display:swap}@font-face{font-family:'OpenSans';src:url(./fonts/OpenSans-SemiBold.woff2) format("woff2");font-weight:600;font-style:normal;font-display:swap}@font-face{font-family:'OpenSansCondensed';src:url(./fonts/OpenSansCondensed-Bold.woff2) format("woff2");font-weight:700;font-style:normal;font-display:swap}@font-face{font-family:'RobotoCondensed';src:url(./fonts/RobotoCondensed-Regular.woff2) format("woff2");font-weight:400;font-style:normal;font-display:swap}@font-face{font-family:'RobotoCondensed';src:url(./fonts/RobotoCondensed-Bold.woff2) format("woff2");font-weight:700;font-style:normal;font-display:swap}@font-face{font-family:'RobotoCondensed';src:url(./fonts/RobotoCondensed-Light.woff2) format("woff2");font-weight:100;font-style:normal;font-display:swap}@font-face{font-family:'OpenSans';src:url(./fonts/OpenSans-ExtraBold.woff2) format("woff2");font-weight:800;}@font-face{font-family:'OpenSansCondensed';src:url(./fonts/OpenSansCondensed-Light.woff2) format("woff2");font-weight:300;font-style:normal;font-display:swap}		
		//===custom styles===
		link(rel="stylesheet", href="css/main.css")
		
		title !{title}
		
	body
		
		block content
		//===jQuery===
		script(src="./libs/jquery/jquery-3.0.0.min.js")
		//===jQuery lazy===
		script(src="./libs/jquery.lazy.min.js")
		//===swiper===
		script(src="./libs/swiper/swiper.js")
		//====RECUPERATOR====
		script(src="./js/nouislider.min.js")
		script(src="./js/recuperator.js")
		script(src="./js/main.js")
		//=== custom scripts ===
		script(src="./js/main.js")