@import "base/_var";
@import "base/_base";
@import "base/_buttons";
@import "base/_icons";
@import "base/_typography";


//sections

 @import "blocks/header-menu";
 @import "sections/header";
 @import "sections/promo";
 @import "sections/our-products";
 @import "sections/our-projects";
 @import "sections/our-results";
 @import "sections/our-benefits";
 @import "sections/our-clients";
 @import "sections/quality";
 @import "sections/product-page";
 @import "sections/vozd";
 @import "sections/models";
 @import "sections/single-product";
 @import "sections/contacts";

 @import "sections/footer";
 @import "blocks/city-select";
 @import "blocks/modal";
 .start-page{
	text-align: center;
	padding-top: 60px;

	h1{
		font-size: 50px;
		font-family: $fs;
		text-align: center;
		margin-bottom: 30px;
	}
}
 .start-page a{
	width: 100%;
	text-align: center;
	border:1px solid grey;
	border-radius: 10px;
	font-size: 22px;
	font-family: $fs;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 45px;
	padding-bottom: 45px;
	font-weight: 700;
	&:first-child{
		grid-column: span 12;
	}
 }